<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bóng Đá Quốc Tế - Kênh Thể Thao</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<img alt="HIHIHIH" src="img/logo.png">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand">Kênh Thể Thao</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav ">
					<li><a href="Home.html">Trang chủ</a></li>


					<li><a href="BongDaVietNam.html">Bóng Đá Việt Nam</a></li>
					<li><a href="BongDaQuocTe.html">Bóng Đá Quốc Tế </a></li>
					<li><a href="QuanVot.html">Quần Vợt</a></li>
					<li><a href="VoThuat.html">Võ Thuật</a></li>
					<li><a href="TongHop.html">Tổng Hợp</a></li>
					<li><a href="HaiHuoc.html">Hài Hước</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<div class="container">

		<div class="row">

			<div class="col-md-8">

				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ ANH</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Man Utd thêm lý do thua cuộc
												trước Wolfsburg tại Champions League </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thêm nỗi lo cho Barca trước
												thềm FIFA Club World Cup </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thiếu vắng 2 trong số 3 công
												thần vì chấn thương sẽ là một tổn thất không nhỏ cho Barca </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>
				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ Ý</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt5.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt6.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ ĐỨC</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Man Utd thêm lý do thua cuộc
												trước Wolfsburg tại Champions League </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thêm nỗi lo cho Barca trước
												thềm FIFA Club World Cup </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thiếu vắng 2 trong số 3 công
												thần vì chấn thương sẽ là một tổn thất không nhỏ cho Barca </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ TÂY BAN NHA</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Ronaldo tặng bàn thắng cho
												cầu thủ khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Man Utd thêm lý do thua cuộc
												trước Wolfsburg tại Champions League </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thêm nỗi lo cho Barca trước
												thềm FIFA Club World Cup </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Thiếu vắng 2 trong số 3 công
												thần vì chấn thương sẽ là một tổn thất không nhỏ cho Barca </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qt4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>VIDEO</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><img alt="TEST" class="img_20" src="img/qt1.jpg"><br>
									<a>Bầu đức từ chối mua clb real marid</a></td>
								<td><img alt="TEST" class="img_20" src="img/qt2.jpg"><br>
									<a>Bầu đức từ chối mua clb real marid</a></td>

							</tr>
							<tr>

								<td><img alt="TEST" class="img_20" src="img/qt3.jpg"><br>
									<a>Bầu đức từ chối mua clb real marid</a></td>
								<td><img alt="TEST" class="img_20" src="img/qt4.jpg"><br>
									<a>Bầu đức từ chối mua clb real marid</a></td>
							</tr>
							<tr>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>



			<div class="col-md-4"></div>


		</div>
		<footer class="footer_style">
			<center>
				<p>Cơ quan chủ quản: Công ty Cổ phần Quảng cáo Trực tuyến 24H
					Trụ sở: Tầng 12, Tòa nhà Geleximco, 36 Hoàng Cầu, Phường Ô Chợ Dừa,
					Quận Đống Đa, TP Hà Nội Tel:</p>
			</center>

		</footer>
	</div>


</body>
</html>