<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Messi vẫn còn đau gân khoeo: Hiểm họa trên từng bước chạy
	- Kênh Thể Thao</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<img alt="HIHIHIH" src="img/logo.png">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand">Kênh Thể Thao</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav ">
					<li><a href="Home.html">Trang chủ</a></li>


					<li><a href="BongDaVietNam.html">Bóng Đá Việt Nam</a></li>
					<li><a href="BongDaQuocTe.html">Bóng Đá Quốc Tế </a></li>
					<li><a href="QuanVot.html">Quần Vợt</a></li>
					<li><a href="VoThuat.html">Võ Thuật</a></li>
					<li><a href="TongHop.html">Tổng Hợp</a></li>
					<li><a href="HaiHuoc.html">Hài Hước</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<div class="container">

		<div class="row">

			<div class="col-md-8">

				<div class="item_container">
					<div class="item_content">
						<h3>
							<b>Messi vẫn còn đau gân khoeo: Hiểm họa trên từng bước chạy</b>
						</h3>
						<br>
						<p style="text-align: justify">Khi Lionel Messi ôm chân, không
							chỉ một lần mà vài lần, trong trận làm khách Leverkusen rạng sáng
							qua, các cule như thấy tim mình thắt lại. Neymar đã chấn thương,
							bây giờ Messi không thể tái phát chấn thương như thế.</p>

						<img width="100%" height="200px" src="img/ct1.jpg" alt="test">
						<br>
						<p style="text-align: justify">Chỉ vài tuần sau khi “ngừng
							chiến”, chấn thương có vẻ như đang mở một cuộc tấn công mới nhằm
							vào Barcelona. Nếu Neymar chấn thương hôm thứ Ba vừa qua và có
							thể phải đến trận chung kết FIFA Club World Cup (20/12) mới có
							thể trở lại thì Messi đã kết thúc trận đấu với Leverkusen với vấn
							đề ở gân kheo. Ở trận đấu trên đất Đức, Messi đã ghi bàn, dấu
							hiệu cho thấy anh đang dần lấy lại phong độ sau thời gian ngồi
							ngoài vì chấn thương. Thế nhưng việc để Messi thi đấu trọn vẹn 90
							phút trong một trận đấu thủ tục vô tình khiến các cule không khỏi
							lo lắng về nguy cơ tái phát chấn thương.</p>

						<br>
						<p style="text-align: justify">Dù tờ Mundo Deportivo khẳng
							định Messi không chấn thương, việc coi thường tín hiệu báo động
							này có thể dẫn đến những hậu quả không tốt. Một ngày trước trận
							đấu tại Cúp Nhà Vua với Villanovense, Messi đã không thể tập cùng
							đồng đội vì đau nhẹ. CLB không ra thông báo chính thức gì về việc
							này. Việc Messi xuất hiện trong trận đấu với Valencia tuần trước
							coi như đã xua tan những hoài nghi ấy. Thế nhưng việc Messi lại
							bị đau trong trận đấu với Leverkusen lại mang đám mây đen trở
							lại. Người ta buộc phải hỏi: dùng Messi liên tục trong 2 trận đấu
							ngay khi anh chưa thật sự đạt 100% thể lực có phải là quyết định
							chính xác của Enrique?</p>
					</div>
				</div>
				<div class="item_container">
					<div class="item_content">
						<h4>
							<b>CÓ THỂ BẠN QUAN TÂM</b>
						</h4>
						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="#">Ronaldo tặng bàn thắng cho cầu thủ
												khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qv2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>



							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="#">Ronaldo tặng bàn thắng cho cầu thủ
												khiến Real bị loại khỏi Cup Nhà vua </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/qv4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>
			</div>



			<div class="col-md-4"></div>


		</div>
		<footer class="footer_style">
			<center>
				<p>Cơ quan chủ quản: Công ty Cổ phần Quảng cáo Trực tuyến 24H
					Trụ sở: Tầng 12, Tòa nhà Geleximco, 36 Hoàng Cầu, Phường Ô Chợ Dừa,
					Quận Đống Đa, TP Hà Nội Tel:</p>
			</center>

		</footer>
	</div>


</body>
</html>