<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Hài Hước - Kênh Thể Thao</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<img alt="HIHIHIH" src="img/logo.png">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand">Kênh Thể Thao</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav ">
					<li><a href="Home.html">Trang chủ</a></li>


					<li><a href="BongDaVietNam.html">Bóng Đá Việt Nam</a></li>
					<li><a href="BongDaQuocTe.html">Bóng Đá Quốc Tế </a></li>
					<li><a href="QuanVot.html">Quần Vợt</a></li>
					<li><a href="VoThuat.html">Võ Thuật</a></li>
					<li><a href="TongHop.html">Tổng Hợp</a></li>
					<li><a href="HaiHuoc.html">Hài Hước</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="item_title">
					<h4>Hài hước</h4>
				</div>
				<h4>Sau 4 trận chỉ biết hòa và thua trước Man Utd trên sân nhà
					Emirates, cuối cùng Arsenal cũng đã có thể giành trọn 3 điểm trước
					kình địch. Chắc chắn HLV Wenger và các học trò sẽ có một tối ngon
					giấc khi đánh chiếm thành công vị trí thứ 2 từ chính Man Utd.</h4>
				<iframe width="750  " height="405"
					src="https://vscc-kenh14-hosting.vcmedia.vn/embed/f54f1b7065574f9daba19b849022a967?layout=&mouseauto=true"
					frameborder="0" allowfullscreen></iframe>
				<br /> <br />
				<div class="item_title"></div>
				<h4>Thủ môn Keylor Navas trở thành siêu nhân khi giúp Real ngăn
					được một loạt đạn (bàn thua) mùa này. Đây là bước tiến vượt bậc so
					với mùa trước, khi "ông lão" Iker Casillas còn bắt chính.</h4>
				<img
					src="http://img.f1.thethao.vnecdn.net/2015/11/10/1-1447126026_660x0.jpg"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<h4>Rõ ràng Wenger không thể đứng yên trước những chiêu trò mà
					Diego Costa sử dụng với các cầu thủ của mình. Chính việc mất người
					từ sớm khiến Wenger thêm một lần phải cúi đầu trước Mourinho ở đấu
					trường NHA.</h4>
				<img
					src="http://k14.vcmedia.vn/756edd3768/2015/09/19/12042619_1765258763619648_2266644397220034680_n-17020.jpg"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<h4>Trong cuộc phỏng vấn gần đây, trung vệ Gerard Pique của
					Barcelona khẳng định luôn xem những tiếng la ó từ CĐV Real Madrid
					hướng vào mình như bản nhạc. Cựu cầu thủ Manchester United cũng quả
					quyết không chia tay đội tuyển Tây Ban Nha bất chấp sự phản đối từ
					người hâm mộ.</h4>
				<img
					src="http://www.bongda.com.vn/wp-content/uploads/2015/09/Pique2.jpg"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<h4>Tiền vệ Arda Turan trở thành hung thần của Hà Lan tại vòng
					loại EURO. Tân binh của Barca ghi bàn và kiến tạo, giúp Thổ Nhĩ Kỳ
					đánh bại Hà Lan 3-0 ở trận đấu lúc 23h ngày 6/9.</h4>
				<img
					src="http://www.bongda.com.vn/wp-content/uploads/2015/09/Pique3.jpg"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<h4>Van "Ghế".</h4>
				<img
					src="http://trollbongda.com/media/k2/items/cache/d5f99cc0325e1af5112b999a99ce018a_L.jpg"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<h4>Khi Messi đi bóng ^^^.</h4>
				<img
					src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/1477539_638821366160474_426630523_n.jpg?oh=7d92433db4544903510db34fee58786f&oe=56F541B2"
					alt="" width="100%"> <br /> <br />
				<div class="item_title"></div>
				<center>
					<h4>
						<a href="">Xem thêm...</a>
					</h4>
				</center>
			</div>
			<div class="col-md-4">
				<div class="advertisement"
					style="height: 300px; background-color: #969696">Advertisement</div>
				<br />
				<div class="advertisement"
					style="height: 300px; background-color: #969696">Advertisement</div>
				<br />
				<div class="advertisement"
					style="height: 300px; background-color: #969696">Advertisement</div>
			</div>
		</div>
		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>
		</footer>
	</div>
</body>
</html>