<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Thể Thao Tổng Hợp - Kênh Thể Thao</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<img alt="HIHIHIH" src="img/logo.png">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand">Kênh Thể Thao</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav ">
					<li><a href="Home.html">Trang chủ</a></li>


					<li><a href="BongDaVietNam.html">Bóng Đá Việt Nam</a></li>
					<li><a href="BongDaQuocTe.html">Bóng Đá Quốc Tế </a></li>
					<li><a href="QuanVot.html">Quần Vợt</a></li>
					<li><a href="VoThuat.html">Võ Thuật</a></li>
					<li><a href="TongHop.html">Tổng Hợp</a></li>
					<li><a href="HaiHuoc.html">Hài Hước</a></li>
				</ul>
			</div>

		</nav>
	</div>
	<div class="container">

		<div class="row">

			<div class="col-md-8">

				<div class="item_container">
					<div class="item_title">
						<h3>CỜ VUA</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Quang Liêm, Trường Sơn thắng
												trận mở màn World Cup cờ vua 2015 </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/cv1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Ván đấu của Quang Liêm và
												Durarbayli </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/cv2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Trường Sơn đánh bại
												Kempinski </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/cv3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Cựu số 4 thế giới Gata
												Kamsky bị loại ngay từ trận đầu tiên! </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/cv4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BI-A</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Vô địch bi-a với 1 cơ "dọn
												bàn" lịch sử </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/ba1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Bi-a: Đánh hỏng lãng xẹt, cơ
												thủ mất 2 tỷ VNĐ </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/ba2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Tin thể thao HOT 28/11: Kiếm
												tiền “đỉnh” như Djokovic </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/ba3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Djokovi đã kiếm được hơn 94
												triệu USD tiền thưởng trong sự nghiệp</a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/ba4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>ĐUA XE</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Đua xe V8 – khúc “khải hoàn
												ca” tại Sydney </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dx1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Bị khuyết tật vẫn đua mô tô
												thể thao </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dx2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Cái chết tức tưởi của tay
												đua đầy nhân đức</a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dx3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Câu chuyện AMG : Từ đường
												đua đến đường phố </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dx4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>ĐIỀN KINH</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Điền kinh Nga bị cấm cửa ở
												mọi giải quốc tế </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dk1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">'Bão' doping lan sang điền
												kinh Ý</a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dk2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Điền kinh Nga chấp nhận lệnh
												cấm vô thời hạn sau bê bối doping</a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dk3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Hai VĐV điền kinh Nga dọa
												kiện để tránh án cấm thi đấu vĩnh viễn </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/dk4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BƠI LỘI</h3>
					</div>
					<div class="item_content">

						<table style="width: 100%" border="0">
							<tr>
								<td colspan="3" width="50%">
									<h4>
										<b><a href="ChiTiet.html">Tài năng trẻ bơi lội Trung
												Quốc chết giữa đêm vì doping? </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/bl1.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Ánh Viên tranh tài cùng các
												huyền thoại bơi lội Mỹ </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/bl2.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Cần Thơ có CLB bơi lội mang
												tên Ánh Viên </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/bl3.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>

							<tr>
								<td colspan="3" width="50%">
									<hr>
									<h4>
										<b><a href="ChiTiet.html">Hình ảnh cảm động của VĐV
												Việt Nam tại Para Games </a></b>
									</h4>
								</td>
							</tr>
							<tr>
								<td width="49%"><img class="top_img" alt="TEST"
									src="img/bl4.jpg" width="100%"></td>
								<td width="2%"></td>
								<td width="49%"><p class="txt_align">Sau khi ghi bàn
										thứ hai trong trận gặp Malmo, CR7 liền tặng cho người đồng đội
										"đen đủi" Denis Cheryshev.</p></td>
							</tr>


						</table>
					</div>
				</div>
			</div>



			<div class="col-md-4"></div>


		</div>
		<footer class="footer_style">
			<center>
				<p>Cơ quan chủ quản: Công ty Cổ phần Quảng cáo Trực tuyến 24H
					Trụ sở: Tầng 12, Tòa nhà Geleximco, 36 Hoàng Cầu, Phường Ô Chợ Dừa,
					Quận Đống Đa, TP Hà Nội Tel:</p>
			</center>

		</footer>
	</div>


</body>
</html>