<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<link href="css/detail.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 93%;
		z-index: 40000000000000;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" src="img/logo.png">
		<div class="menu_border">
			<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
				<div class="navbar-header menu_mini">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar menu_button"
							style="background-color: black;"></span> <span
							class="icon-bar menu_button" style="background-color: black;"></span>
						<span class="icon-bar menu_button"
							style="background-color: black;"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse menu" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="Home.html">Trang chủ</a></li>



						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="li_large">
									<div class="li_div_giai_dau">
										<table border="0" style="width: 100%">
											<tr>
												<td rowspan="9" width="2%"></td>
												<td class="giai_dau" width="20%"><a href="GiaiDau.html">La
														Liga BBVA</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3" width="10%"><img alt="test"
													width="100%" height="100%" src="img/q1.png"></td>
												<td rowspan="9" width="2%"></td>
												<td class="giai_dau" rowspan="3"><a href="GiaiDau.html">Liverpool
														lập kỷ lục 10 năm vô địch liên tiếp</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Premier
														League</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Bundesliga</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Seri A</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3"><img alt="test" width="100%"
													height="100%" src="img/q2.png"></td>
												<td class="giai_dau" rowspan="3"><a href="#">MU
														thất thủ trước Sông Lam Nghệ An</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Ligue 1</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Cúp C1
														Châu Âu</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Ngoại
														Hạng Anh</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3"><img alt="test" width="100%"
													height="100%" src="img/q3.png"></td>
												<td class="giai_dau" rowspan="3"><a href="#">Đội
														tuyển đông ti mo giữ vững ngôi vương. Real cay cú</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Champion
														League</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="GiaiDau.html">Europa
														League</a></td>
											</tr>
										</table>
									</div>
								</li>
							</ul></li>

						<li><a href="#">Lịch đấu - Kết quả</a></li>
						<li><a href="#">Bảng xếp hạng</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Chuyển nhượng <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Tin chuyển nhượng</a></li>
								<li><a href="#">Danh sách chuyển nhượng</a></li>
							</ul></li>

						<li><a href="#">Trực tiếp</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Troll</a></li>
					</ul>
				</div>

			</nav>
		</div>
		<div class="row">

			<div class="col-md-8">

				<div class="d_item_container">

					<div class="d_item_title">
						<h3>Việt nam vô địch worldcup. Chủ tịch nước thua độ dấn đến
							tăng song máu. Bầu đức cam kết hiến tặng một lon pepsi cho đội
							tuyển VN</h3>
						<p>Routers ,Ngày 30/02/2015</p>
					</div>
					<div class="d_item_content">

						<p>Một trong những hình ảnh đẹp của trận đấu là khoảnh khắc
							Ronaldo và Bale cùng nằm ôm nhau ăn mừng bàn thắng thứ hai của
							Ronaldo trong trận đấu. Bale kiến tạo bàn đầu tiên và gián tiếp
							dàn xếp bàn thứ hai của CR7 (Bale chuyền cho Ronaldo sút bóng lần
							thứ nhất nhưng bị hậu vệ đội bạn chắn bóng trước khi đá bồi). Thế
							nhưng trong khi Ronaldo đã tạm thời cắt đứt chuỗi trận tịt ngòi
							của cá nhân mình và tiếp tục tỏ ra “mắn” ở mặt trận cúp châu Âu,
							Bale lại đang có vấn đề với phong độ của mình.</p>
						<center>
							<img alt="test" src="img/detail.jpg">
						</center>
						<p style="text-align: center;">
						<p style="color: #0000FF; font-style: italic; text-align: center;">Ronaldo
							và Bale ôm nhau sau bàn thắng thứ 2 của CR7 trước Shakhtar</p>
						<p>
						<p>Riêng ở mặt trận Champions League, Bale tỏ ra cực kỳ mờ
							nhạt hơn cả La Liga. Trước trận đấu với Shakhtar, Bale mới tham
							gia vào chỉ 1 tình huống ghi bàn của Real trong 10 trận trước đó,
							và đó là một bàn thắng trước CLB vô danh Ludogorets ở mùa giải
							2014/15.</p>
						<p>Điều an ủi cho Bale là anh đã chứng tỏ mình có thể là một
							diễn viên phụ hoàn hảo cho những show diễn mà Ronaldo nhập vai
							chính. Bale đã kiến tạo 21 bàn thắng cho người đồng đội người Bồ
							Đào Nha, ít chỉ sau 3 cầu thủ Real khác (tính cả những người đã
							rời CLB). Trước Shakhtar Donestk, Bale cho thấy anh cực kỳ đáng
							sợ khi được trở lại vị trí chạy cánh trái rất quen thuộc hồi còn
							khoác áo Tottenham.</p>
						<center>
							<img alt="test" src="img/detail.jpg">
						</center>
						<p style="text-align: center;">
						<p style="color: #0000FF; font-style: italic; text-align: center;">Bale
							mới ghi được có 8 bàn cho Real trong năm 2015</p>
						<p>Bên cạnh vấn đề về phong độ, Bale cũng còn phải nhìn lại
							cách mà anh giữ gìn sức khỏe. Kể từ lúc cầu thủ người xứ Wales
							gia nhập Real Madrid cho đến nay đã được 3 mùa giải, và Bale đã
							mắc tổng cộng 9 đợt chấn thương khác nhau. Bale đặc biệt có vấn
							đề với dây chằng và cơ bắp khi đã 2 lần bị rách dây chằng, 6 lần
							(!) gặp vấn đề với cơ, chưa kể đầu mùa 2013/14 anh còn bị cho là
							mắc chứng thoát vị đĩa đệm.</p>
						<p>Tiền sử chấn thương của Bale rất đáng lo ngại mà Real không
							rõ nên giải quyết thế nào. Mới đây một người nặc danh đã phát
							biểu trên tờ The Sun rằng Bale nên dừng lái những chiếc xe
							Lamborghini vì thiết kế của những chiếc xe dòng này khiến dây
							chằng của người lái rất dễ bị tổn thương khi vận động mạnh. Bale
							hiện đang sử dụng một dịch vụ thuê xe Lamborghini mỗi khi anh trở
							về Anh Quốc.</p>

						<p>Tiền sử chấn thương của Bale rất đáng lo ngại mà Real không
							rõ nên giải quyết thế nào. Mới đây một người nặc danh đã phát
							biểu trên tờ The Sun rằng Bale nên dừng lái những chiếc xe
							Lamborghini vì thiết kế của những chiếc xe dòng này khiến dây
							chằng của người lái rất dễ bị tổn thương khi vận động mạnh. Bale
							hiện đang sử dụng một dịch vụ thuê xe Lamborghini mỗi khi anh trở
							về Anh Quốc.</p>



						<p class="author">
							Theo <b>Minh Luận</b>
						</p>
					</div>

					<div class="d_comment">

						<div class="form-group">
							<label for="comment">Viết bình luận:</label>
							<textarea class="form-control" rows="4" id="comment"></textarea>

						</div>
						<button type="button" class="btn btn-default b_comment">Gửi
							bình luận</button>

					</div>

					<div class="l_comment">
						<b>Các bình luận:</b>
						<hr>
						<table>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px"><br>
								<b>Anh yêu em</b></td>
								<td width="86%">Đá dỡ ẹc. Ronaldo đá thua công phượng</td>
							</tr>
						</table>						
						<table>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px"><br>
								<b>Anh yêu em</b></td>
								<td width="86%">Đá dỡ ẹc. Ronaldo đá thua công phượng</td>
							</tr>
						</table>						
						<table>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px"><br>
								<b>Anh yêu em</b></td>
								<td width="86%">Đá dỡ ẹc. Ronaldo đá thua công phượng</td>
							</tr>
						</table>						
						<table>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px"><br>
								<b>Anh yêu em</b></td>
								<td width="86%">Đá dỡ ẹc. Ronaldo đá thua công phượng</td>
							</tr>
						</table>
					</div>
				</div>

			</div>



			<div class="col-md-4">

				<div class="item_container">
					<div class="item_title">
						<h3>TIN NỔI BẬT</h3>
					</div>
					<div class="item_content">
						<table class="d_table_content">
							<tr>
								<td width="20%"><img src="img/detail.jpg" width="70px"
									height="70px"></td>
								<td width="80%"><a>Ronaldo chia tay bạn trai làm nên
										một hiện tượng trong giới trẻ</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Ronaldo chia tay bạn trai làm nên một hiện tượng
										trong giới trẻ</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Ronaldo chia tay bạn trai làm nên một hiện tượng
										trong giới trẻ</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Ronaldo chia tay bạn trai làm nên một hiện tượng
										trong giới trẻ</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Ronaldo chia tay bạn trai làm nên một hiện tượng
										trong giới trẻ</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Ronaldo chia tay bạn trai làm nên một hiện tượng
										trong giới trẻ</a></td>
							</tr>
						</table>
					</div>

				</div>


				<div class="item_container">
					<div class="item_title">
						<h3>XEM NHIỀU</h3>
					</div>
					<div class="item_content">
						<table class="d_table_content">
							<tr>
								<td width="20%"><img src="img/detail.jpg" width="70px"
									height="70px"></td>
								<td width="80%"><a>Bạn trai mới của ronaldo gây số mạng
										xã hội cả tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Bạn trai mới của ronaldo gây số mạng xã hội cả
										tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Bạn trai mới của ronaldo gây số mạng xã hội cả
										tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Bạn trai mới của ronaldo gây số mạng xã hội cả
										tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Bạn trai mới của ronaldo gây số mạng xã hội cả
										tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
							<tr>
								<td><img src="img/detail.jpg" width="70px" height="70px">
								</td>
								<td><a>Bạn trai mới của ronaldo gây số mạng xã hội cả
										tuần qua. Ngành y tế bội thu.</a></td>
							</tr>
						</table>


					</div>


				</div>

			</div>


		</div>
		<footer class="footer_style">
			<center>
				<p>Cơ quan chủ quản: Công ty Cổ phần Quảng cáo Trực tuyến 24H
					Trụ sở: Tầng 12, Tòa nhà Geleximco, 36 Hoàng Cầu, Phường Ô Chợ Dừa,
					Quận Đống Đa, TP Hà Nội Tel: (84-4) 73 00 24 24 hoặc (84-4) 3512
					1806 - Fax: (84-4) 3512 1804 VPĐD: Tầng 5 – Toà nhà Hải Âu - 39B
					Trường Sơn, P2, Q.Tân Bình, TP.Hồ Chí Minh Tel: (84-8) 73 00 24 24
					hoặc (84-8) 3848 9845 - Fax: (84-8) 3848 6519 / Giấy phép số
					2517/GP- TT ĐT ngày cấp 27/08/2013 SỞ THÔNG TIN VÀ TRUYỀN THÔNG HÀ
					NỘI. Chịu trách nhiệm xuất bản: Ngô Kỳ Lam</p>
			</center>

		</footer>
	</div>


</body>
</html>