<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" src="img/logo.png">
		<div class="menu_border">



			<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
				<div class="navbar-header menu_mini">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar menu_button"></span> <span
							class="icon-bar menu_button"></span> <span
							class="icon-bar menu_button"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse menu" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#">Trang chủ</a></li>



						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="li_large"><div class="alert alert-success">
										<strong>Success!</strong> Indicates a successful or positive
										action.
									</div></li>
								<li><a href="#">La Liga BBVA</a></li>
								<li><a href="#">Premier League</a></li>
								<li><a href="#">Bundesliga</a></li>
								<li><a href="#">Seri A</a></li>
								<li><a href="#">Ligue 1</a></li>
								<li><a href="#">Cúp C1 Châu Âu</a></li>
								<li><a href="#">Ngoại Hạng Anh</a></li>
								<li><a href="#">Champion League</a></li>
								<li><a href="#">Europa League</a></li>
								<li><a href="#">La Liga</a></li>

							</ul></li>



						<li><a href="#">Lịch đấu - Kết quả</a></li>
						<li><a href="#">Bảng xếp hạng</a></li>
						<li><a href="#">Chuyển nhượng</a></li>
						<li><a href="#">Trực tiếp</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Troll</a></li>
					</ul>
				</div>

			</nav>
		</div>
		<div class="row">

			<div class="col-md-8">

				<div class="item_container">
					<div class="item_title">
						<h3>TIN NÓNG</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="3" width="50%"><img alt="TEST"
									src="img/h1.jpg" width="90%"><br> <a><h3>Real
											vỡ mộng khi gặp U20 Bà Rịa Vũng Tàu</h3></a></td>
								<td height="25%" width="25%"><img alt="TEST" class="img_20"
									src="img/h1.jpg"></td>
								<td width="25%"><a> Ngọc Hải không có tên trong danh
										sách triệu tập U23 VN </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="item_container">
					<div class="item_title">
						<h3>THỊ TRƯỜNG CHUYỂN NHƯỢNG</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="10">
							<tr>
								<td rowspan="3" width="45%"><img alt="TEST"
									src="img/h1.jpg" width="100%"> <a><h3>Bầu Đức
											mua Luan thay vì Ronadol</h3></a></td>
								<td class="table_data_pd" height="30%" width="20%"><img
									alt="TEST" class="img_20" src="img/h1.jpg"> <a>HLV
										Miura công bố danh sách 29 cầu thủ U23 Việt Nam </a></td>
								<td class="table_data_pd" height="30%" width="20%"><img
									alt="TEST" class="img_20" src="img/h1.jpg"> <a>HLV
										Miura công bố danh sách 29 cầu thủ U23 Việt Nam </a></td>

							</tr>
							<tr>
								<td class="table_data_pd"><img alt="TEST" class="img_20"
									src="img/h1.jpg"> <a>HLV Miura công bố danh sách 2d9
										cầu thủ U23 Việt Nam </a></td>
								<td class="table_data_pd"><img alt="TEST" class="img_20"
									src="img/h1.jpg"> <a>HLV Miura công bố danh sách 21
										cầu thủ U23 Việt Nam </a></td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="item_container">
					<div class="item_title">
						<h3>VIDEO</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>

							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"><br>
									<a>Bầu đức từ chối mua clb real</a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>


				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ ANH</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="3" width="50%"><img alt="TEST"
									src="img/h1.jpg" width="90%"><br> <a><h3>Real
											vỡ mộng khi gặp U20 Bà Rịa Vũng Tàu</h3></a></td>
								<td height="25%" width="25%"><img alt="TEST" class="img_20"
									src="img/h1.jpg"></td>
								<td width="25%"><a> Ngọc Hải không có tên trong danh
										sách triệu tập U23 VN </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ VIỆT NAM</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="3" width="50%"><img alt="TEST"
									src="img/h1.jpg" width="90%"><br> <a><h3>Real
											vỡ mộng khi gặp U20 Bà Rịa Vũng Tàu</h3></a></td>
								<td height="25%" width="25%"><img alt="TEST" class="img_20"
									src="img/h1.jpg"></td>
								<td width="25%"><a> Ngọc Hải không có tên trong danh
										sách triệu tập U23 VN </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ Ý</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="3" width="50%"><img alt="TEST"
									src="img/h1.jpg" width="90%"><br> <a><h3>Real
											vỡ mộng khi gặp U20 Bà Rịa Vũng Tàu</h3></a></td>
								<td height="25%" width="25%"><img alt="TEST" class="img_20"
									src="img/h1.jpg"></td>
								<td width="25%"><a> Ngọc Hải không có tên trong danh
										sách triệu tập U23 VN </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>


				<div class="item_container">
					<div class="item_title">
						<h3>BÓNG ĐÁ TÂY BAN NHA</h3>
					</div>
					<div class="item_content">
						<table style="width: 100%" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="3" width="50%"><img alt="TEST"
									src="img/h1.jpg" width="90%"><br> <a><h3>Real
											vỡ mộng khi gặp U20 Bà Rịa Vũng Tàu</h3></a></td>
								<td height="25%" width="25%"><img alt="TEST" class="img_20"
									src="img/h1.jpg"></td>
								<td width="25%"><a> Ngọc Hải không có tên trong danh
										sách triệu tập U23 VN </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td><img alt="TEST" class="img_20" src="img/h1.jpg"></td>
								<td><a>HLV Miura công bố danh sách 29 cầu thủ U23 Việt
										Nam </a></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="read_more"><a>Xem thêm >></a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>



			<div class="col-md-4">

				<div class="item_container">
					<div class="item_title">
						<h3>LỊCH ĐẤU</h3>
					</div>
					<div class="item_content">

						<table class="table table-hover">
							<thead>
								<tr class="success">
									<th colspan="3"><center>Europa League</center></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="30%">Real Marid</td>
									<td width="40%"><center>01:00</center></td>
									<td width="30%">Barcelona</td>
								</tr>
								<tr>
									<td>Liverpool</td>
									<td><center>21:00</center></td>
									<td>Juventus</td>
								</tr>
								<tr>
									<td>Arsenal</td>
									<td><center>12:00</center></td>
									<td>Hà Nội ABC</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover">
							<thead>
								<tr class="success">
									<th colspan="3"><center>Europa League</center></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="30%">Real Marid</td>
									<td width="40%"><center>01:00</center></td>
									<td width="30%">Barcelona</td>
								</tr>
								<tr>
									<td>Liverpool</td>
									<td><center>21:00</center></td>
									<td>Juventus</td>
								</tr>
								<tr>
									<td>Arsenal</td>
									<td><center>12:00</center></td>
									<td>Hà Nội ABC</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover">
							<thead>
								<tr class="success">
									<th colspan="3"><center>Europa League</center></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="30%">Real Marid</td>
									<td width="40%"><center>01:00</center></td>
									<td width="30%">Barcelona</td>
								</tr>
								<tr>
									<td>Liverpool</td>
									<td><center>21:00</center></td>
									<td>Juventus</td>
								</tr>
								<tr>
									<td>Arsenal</td>
									<td><center>12:00</center></td>
									<td>Hà Nội ABC</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover">
							<thead>
								<tr class="success">
									<th colspan="3"><center>Europa League</center></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="30%">Real Marid</td>
									<td width="40%"><center>01:00</center></td>
									<td width="30%">Barcelona</td>
								</tr>
								<tr>
									<td>Liverpool</td>
									<td><center>21:00</center></td>
									<td>Juventus</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<div class="item_container">
					<div class="item_title">
						<h3>BẢNG XẾP HẠNG</h3>
					</div>
					<div class="item_content">

						<div class="form-group">
							<label for="sel1">Giải:</label> <select
								class="form-control" id="sel1">															
								<option>Premier League</option>
								<option>Bundesliga</option>
								<option>Seri A</option>
								<option>Ligue 1</option>
								<option>Cúp C1 Châu Âu</option>
								<option>Ngoại Hạng Anh</option>
								<option>Champion League</option>
								<option>Europa League</option>
								<option>>La Liga</option>
							</select>
						</div>
						<div class="data_scroll">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>TT</th>
										<th>Đội bóng</th>
										<th>Trận</th>
										<th>+/-</th>
										<th>Điểm</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Read Marid</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Barcelona</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Liverpool</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>

									<tr>
										<td>4</td>
										<td>Leicester City</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>

									<tr>
										<td>5</td>
										<td>Man United</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>

									<tr>
										<td>6</td>
										<td>Tottenham</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>7</td>
										<td>West Ham</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>8</td>
										<td>Everton</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>9</td>
										<td>Southampton</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>10</td>
										<td>Crystal Palace</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>11</td>
										<td>West Bromwich</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>
									<tr>
										<td>12</td>
										<td>Norwich City</td>
										<td>100</td>
										<td>100</td>
										<td>200</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</div>

			</div>


		</div>
		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>

		</footer>
	</div>


</body>
</html>