<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 70%;
}

.affix+.container-fluid {
	padding-top: 70px;
}
</style>
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1" style="background-color: lavender;">.col-sm-4</div>
			<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
				<img alt="HIHIHIH" src="img/logo.png">
				<div class="menu_border">
					<nav class="nav nav-tabs menu" data-spy="affix"
						data-offset-top="197">
						<ul class="nav navbar-nav">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">Giải đấu</a></li>
							<li><a href="#">Lịch đấu - Kết quả</a></li>
							<li><a href="#">Bảng xếp hạng</a></li>
							<li><a href="#">Chuyển nhượng</a></li>
							<li><a href="#">Trực tiếp</a></li>
							<li><a href="#">Video</a></li>
							<li><a href="#">Troll</a></li>
						</ul>
					</nav>
				</div>
				<div style="height: 1000px">
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
					<h1>Some text to enable scrolling</h1>
				</div>


				<footer>


					<h1>This is footer</h1>

				</footer>

			</div>





			<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1" style="background-color: lavender;">.col-sm-4</div>
		</div>
	</div>


</body>
</html>