<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<link href="css/LichThiDau-KetQua.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 70%;
    z-index: 40000000000000;
}
@media ( max-width : 768px) {
    .affix {
        width: 95%;
        z-index: 40000000000000;
    }
}
.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"
				style="background-color: lavender;"></div>
			<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
				<img alt="HIHIHIH" src="img/logo.png">
				<div class="menu_border">



					<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
						<div class="navbar-header menu_mini">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar menu_button"></span> <span
									class="icon-bar menu_button"></span> <span
									class="icon-bar menu_button"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse menu" id="myNavbar">
							<ul class="nav navbar-nav">
								<li><a href="#">Trang chủ</a></li>



								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#">Giải đấu <span
										class="caret"></span></a>
									<ul class="dropdown-menu">
										<li class="li_large"><div class="alert alert-success">
												<strong>Success!</strong> Indicates a successful or positive
												action.
											</div></li>
										<li><a href="#">La Liga BBVA</a></li>
										<li><a href="#">Premier League</a></li>
										<li><a href="#">Bundesliga</a></li>
										<li><a href="#">Seri A</a></li>
										<li><a href="#">Ligue 1</a></li>
										<li><a href="#">Cúp C1 Châu Âu</a></li>
										<li><a href="#">Ngoại Hạng Anh</a></li>
										<li><a href="#">Champion League</a></li>
										<li><a href="#">Europa League</a></li>
										<li><a href="#">La Liga</a></li>

									</ul></li>



								<li><a href="#">Lịch đấu - Kết quả</a></li>
								<li><a href="#">Bảng xếp hạng</a></li>
								<li><a href="#">Chuyển nhượng</a></li>
								<li><a href="#">Trực tiếp</a></li>
								<li><a href="#">Video</a></li>
								<li><a href="#">Troll</a></li>
							</ul>
						</div>

					</nav>
				</div>
				<div class="item_container">
					<div class="item_title">
						<h3>LỊCH THI ĐẤU</h3>
					</div>
					<div class="">
						  <div class="row container-fluid ">
    						<div class="col-sm-3" style="background-color:lavender;">
								<p style="color:white;font-size:150%; text-align:center;background-color:#000000;width:115%;margin-left:-7.5%">Danh Sách Giải Đấu</p> <hr>
    							<div >

    								<center>
    									<img alt="" src="img/PREMIERLEAGUE.png">
    								</center>
    								<ul style="font-size:130%;">
    									<li class="List-GiaiDau">PREMIER LEAGUE
    									<li class="List-GiaiDau">LA LIGA
    									<li class="List-GiaiDau">SERIE A
    									<li class="List-GiaiDau">BUNDESLIGA
    									<li class="List-GiaiDau">LIGUE 1
    									<li class="List-GiaiDau">LEAGUE CUP
    									<li class="List-GiaiDau">EUROPE LEAGUE
    									<li class="List-GiaiDau">CHAMPIONS LEAGUE
    									<li class="List-GiaiDau">VIET NAM
    								</ul>
    							</div>
    						</div>
    						<div class="col-sm-6 col-sm-boder" style="background-color:lavenderblush;">
    							<p style="color:white;font-size:150%; text-align:center;background-color:#000000;width:107%;margin-left:-3.5%">Sắp Thi Đấu</p> <hr>
    							<div>
    								<table name="cacgiaisapthidau" style="text-align:center">
    									<tr>
    										<td width="15%">28/11</td>
    										<td width="25%" >Sunderland</td>
    										<td width="5%" ><img alt="image" src="img/Sunderland.png"></td>
    										<td width="10%">22:00</td>
    										<td width="10%"><img alt="image" src="img/Stoke.png"></td>
    										<td width="30%">Stoke</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Werder Bremen</td>
    										<td ><img alt="image" src="img/WerderBremen.png"></td>
    										<td >01:30</td>
    										<td ><img alt="image" src="img/Hamburg.png"></td>
    										<td >Hamburg</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hannover</td>
    										<td ><img alt="image" src="img/Hannover.jpg"></td>
    										<td >02:00</td>
    										<td ><img alt="image" src="img/Ingolstadt.png"></td>
    										<td >Ingolstadt</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hoffenheim</td>
    										<td ><img alt="image" src="img/Hoffenheim.png"></td>
    										<td >02:30</td>
    										<td ><img alt="image" src="img/M'Gladbach.png"></td>
    										<td >M'Gladbach</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    								</table>
    								<hr>
    								<table name = "cacgiaidathidau">
    									<tr>
    										<p style="color:white;font-size:150%; text-align:center;background-color:#000000;width:107%;margin-left:-3.5%">Đã Thi Đấu</p> <hr>
    									</tr>
    									<tr>
    										<td width="15%">28/11</td>
    										<td width="25%" >Sunderland</td>
    										<td width="5%" ><img alt="image" src="img/Sunderland.png"></td>
    										<td width="10%">0-1</td>
    										<td width="10%"><img alt="image" src="img/Stoke.png"></td>
    										<td width="30%">Stoke</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Werder Bremen</td>
    										<td ><img alt="image" src="img/WerderBremen.png"></td>
    										<td >1-0</td>
    										<td ><img alt="image" src="img/Hamburg.png"></td>
    										<td >Hamburg</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hannover</td>
    										<td ><img alt="image" src="img/Hannover.jpg"></td>
    										<td >2-0</td>
    										<td ><img alt="image" src="img/Ingolstadt.png"></td>
    										<td >Ingolstadt</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hoffenheim</td>
    										<td ><img alt="image" src="img/Hoffenheim.png"></td>
    										<td >1-3</td>
    										<td ><img alt="image" src="img/M'Gladbach.png"></td>
    										<td >M'Gladbach</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td width="15%">28/11</td>
    										<td width="25%" >Sunderland</td>
    										<td width="5%" ><img alt="image" src="img/Sunderland.png"></td>
    										<td width="10%">22:00</td>
    										<td width="10%"><img alt="image" src="img/Stoke.png"></td>
    										<td width="30%">Stoke</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Werder Bremen</td>
    										<td ><img alt="image" src="img/WerderBremen.png"></td>
    										<td >01:30</td>
    										<td ><img alt="image" src="img/Hamburg.png"></td>
    										<td >Hamburg</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hannover</td>
    										<td ><img alt="image" src="img/Hannover.jpg"></td>
    										<td >02:00</td>
    										<td ><img alt="image" src="img/Ingolstadt.png"></td>
    										<td >Ingolstadt</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hoffenheim</td>
    										<td ><img alt="image" src="img/Hoffenheim.png"></td>
    										<td >02:30</td>
    										<td ><img alt="image" src="img/M'Gladbach.png"></td>
    										<td >M'Gladbach</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td width="15%">28/11</td>
    										<td width="25%" >Sunderland</td>
    										<td width="5%" ><img alt="image" src="img/Sunderland.png"></td>
    										<td width="10%">22:00</td>
    										<td width="10%"><img alt="image" src="img/Stoke.png"></td>
    										<td width="30%">Stoke</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Werder Bremen</td>
    										<td ><img alt="image" src="img/WerderBremen.png"></td>
    										<td >2-1</td>
    										<td ><img alt="image" src="img/Hamburg.png"></td>
    										<td >Hamburg</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hannover</td>
    										<td ><img alt="image" src="img/Hannover.jpg"></td>
    										<td >1-2</td>
    										<td ><img alt="image" src="img/Ingolstadt.png"></td>
    										<td >Ingolstadt</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    									<tr>
    										<td >28/11</td>
    										<td >Hoffenheim</td>
    										<td ><img alt="image" src="img/Hoffenheim.png"></td>
    										<td >2-1</td>
    										<td ><img alt="image" src="img/M'Gladbach.png"></td>
    										<td >M'Gladbach</td>
    										<td width="5" class="style-next">>></td>
    									</tr>
    								</table>
    								<hr>
    								<table style="text-align:center">
    								<tr>
    									<p style="color:white;font-size:150%; text-align:center;background-color:#000000;width:107%;margin-left:-3.5%">Bảng Xếp Hạng</p> <hr>
    								</tr>
    								<tr >
										<td width="5%">#</td>
										<td width="20"></td>
										<td width="35%">Đội</td>
										<td width="5%">Trận</td>
										<td width="5%">Thắng</td>
										<td width="5%">Hòa</td>
										<td width="5%">Bại</td>
										<td width="5%">Ghi</td>
										<td width="5%">Tg</td>
										<td width="5%">HS</td>
										<td width="5%">Điểm</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>
									<tr >
										<td>1</td>
										<td><img src="img/leicester.jpg"></td>
										<td style="text-align:left">  Leicester</td>
										<td>13</td>
										<td>8</td>
										<td>4</td>
										<td>1</td>
										<td>28</td>
										<td>20</td>
										<td>8</td>
										<td>28</td>
									</tr>

    								</table>
    							</div>
    						</div>
    						<div class="col-sm-3" style="background-color:lavender;">
								<table>
									<tr>
										<p style="color:white;font-size:150%; text-align:center;background-color:#000000;width:115%;margin-left:-7.5%">Bảng Xếp Hạng</p> <hr>
									</tr>

								</table>


    						</div>
  						</div>
					</div>
					<div class="item_content">
					</div>
				</div>



				<footer class="footer_style">
					<center>
						<p>
							Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
							tiện Viet media <br> Liên hệ: 09009090909909
						</p>
					</center>

				</footer>

			</div>





			<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"
				style="background-color: lavender;"></div>
		</div>
	</div>


</body>
</html>