<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Danh sách chuyển nhượng - Bóng đá</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/dataTables.bootstrap.min.css" rel="stylesheet">
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/transfers.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 93%;
		z-index: 40000000000000;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" src="img/logo.png">
		<div class="menu_border">



			<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
				<div class="navbar-header menu_mini">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar menu_button"
							style="background-color: black;"></span> <span
							class="icon-bar menu_button" style="background-color: black;"></span>
						<span class="icon-bar menu_button"
							style="background-color: black;"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse menu" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#">Trang chủ</a></li>



						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="li_large">
									<div class="li_div_giai_dau">
										<table border="0" style="width: 100%">
											<tr>
												<td rowspan="9" width="2%"></td>
												<td class="giai_dau" width="20%"><a href="#">La
														Liga BBVA</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3" width="10%"><img alt="test"
													width="100%" height="100%" src="img/q1.png"></td>
												<td rowspan="9" width="2%"></td>
												<td class="giai_dau" rowspan="3"><a href="#">Liverpool
														lập kỷ lục 10 năm vô địch liên tiếp</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Premier League</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Bundesliga</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Seri A</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3"><img alt="test" width="100%"
													height="100%" src="img/q2.png"></td>
												<td class="giai_dau" rowspan="3"><a href="#">MU
														thất thủ trước Sông Lam Nghệ An</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Ligue 1</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Cúp C1 Châu Âu</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Ngoại Hạng Anh</a></td>
												<td rowspan="3" width="2%"></td>
												<td rowspan="3"><img alt="test" width="100%"
													height="100%" src="img/q3.png"></td>
												<td class="giai_dau" rowspan="3"><a href="#">Đội
														tuyển đông ti mo giữ vững ngôi vương. Real cay cú</a></td>
											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Champion League</a></td>

											</tr>
											<tr>
												<td class="giai_dau"><a href="#">Europa League</a></td>
											</tr>
										</table>
									</div>
								</li>
							</ul></li>

						<li><a href="#">Lịch đấu - Kết quả</a></li>
						<li><a href="#">Bảng xếp hạng</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Chuyển nhượng <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Tin chuyển nhượng</a></li>
								<li><a href="#">Danh sách chuyển nhượng</a></li>
							</ul></li>

						<li><a href="#">Trực tiếp</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Troll</a></li>
					</ul>
				</div>

			</nav>
		</div>
	<div class="row">
		<div class = "col-md-8">
			<h2 style="margin-top:30px;"> DANH SÁCH CHUYỂN NHƯỢNG </h2>
			<div class="form-inline">
				<label> Mùa chuyển nhượng:
					<select class="form-control">
						<option> Đông 2015</option>
						<option> Hè 2015</option>
						<option> Đông 2014</option>
						<option> Hè 2014</option>
						<option> Đông 2013</option>
						<option> Hè 2013</option>
					</select>
					<i style="font-size:10pt;"> (cập nhật: 29-11-2015)</i> </label>
			</div>
			<article>
				<table id="transfers" class="table table-striped table-hover">
					<thead>
						<tr>
							<th width="10%">Ngày</th>
							<th width="15%">Cầu thủ</th>
							<th width="15%">Quốc tịch</th>
							<th width="15%">Vị trí</th>
							<th width="13%">Đi</th>
							<th width="13%">Đến</th>
							<th width="14%">Giá  <br><i style="font-size:8pt">(Triệu Euro)</i></th>
							<th width="5%">HĐ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>19-12</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr>
						<tr>
							<td>19-4</td>
							<td>Lionel Messi</td>
							<td>Arg</td>
							<td>Tiền đạo</td>
							<td>Barcelona</td>
							<td>PSG</td>
							<td>1000</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-12</td>
							<td>Neymar Jr</td>
							<td>Brazil</td>
							<td>Tiền đạo</td>
							<td>Barcelona</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-1</td>
							<td>Luiz Súares</td>
							<td>Uruquay</td>
							<td>Tiền đạo</td>
							<td>Barcelona</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Mạc Hồng Quân</td>
							<td>VN</td>
							<td>Tiền đạo</td>
							<td>Quảng Ninh</td>
							<td>IS</td>
							<td>CNTD</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Nguyễn Công Phượng</td>
							<td>VN</td>
							<td>Tiền đạo</td>
							<td>HAGL</td>
							<td>Barcelona</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>18-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>13-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>15-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr><tr>
							<td>19-11</td>
							<td>Cristiano Ronaldo</td>
							<td>BĐN</td>
							<td>Tiền đạo</td>
							<td>Real Madrid</td>
							<td>PSG</td>
							<td>100</td>
							<td>5 năm</td>
						</tr>
					</tbody>
				</table>
			</article>
		</div>
		<div class = "vertical-line col-md-4"> 
			<!-- Hôm nay xem gì -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Hôm nay xem gì?</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active">
					<h4 class="tournament"> <span class="glyphicon glyphicon-cd"></span> Cúp C1 Châu Âu </h4>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Giờ</th>
								<th>Trận</th>
								<th>Kênh TV</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Astana</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Atlético Madrid</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Astana</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
						</tbody>
					</table>
					<h4 class="tournament"> <span class="glyphicon glyphicon-cd"></span> Cúp C2 Châu Âu </h4>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Giờ</th>
								<th>Trận</th>
								<th>Kênh TV</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Astana</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Astana</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
							<tr>
								<td><b class="time-start-match">22:00</b></td>
								<td><span class=""> <a href="#">Astana</a> <i class="time-start-match">vs</i> <a href="#">Benfica</a></span></td>
								<td><span> BDTV, BDTV HD, TTTV, TTTV HDTT </span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-border"></div>
			</div>
			<!-- Bảng xếp hạng -->
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#bxh">Bảng xếp hạng</a></li>
				<li><a data-toggle="tab" href="#kqtd">Kết quả thi đấu</a></li>
			</ul>
			<div class="tab-content ">
				<div id="bxh" class="tab-pane fade in active">
					<div style="height:350px;overflow:auto;">
						<div class="form-inline pull-right" style="margin-top:5px;">
							<label> Giải đấu:
								<select class="form-control">
									<option value="anh" selected> Anh </option>
									<option value="duc"> Đức </option>
									<option value="phap"> Pháp </option>
									<option value="tbn"> TBN </option>
									<option value="y"> Italia </option>
									<option value="c1"> Champions League </option>
									<option value="c2"> Europa League </option>
									<option value="vn"> Việt Nam </option>
								</select>
							</label>
						</div>
						<table class="table table-hover" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th class="col-md-1"></th>
									<th class="col-md-1">TT</th>
									<th class="col-md-7">Đội bóng</th>
									<th class="col-md-1">Trận</th>
									<th class="col-md-1">+/-</th>
									<th class="col-md-1">Điểm</th>
								</tr>
							</thead>
							<tbody class="mshow">
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/682/leicester-city.bdscore"><b>Leicester City</b></a></td>
									<td class="sub">13</td>
									<td class="sub">8</td>
									<td class="pnt">28</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/662/man-united.bdscore"><b>Man United</b></a></td>
									<td class="sub">13</td>
									<td class="sub">10</td>
									<td class="pnt">27</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/676/man-city.bdscore"><b>Man City</b></a></td>
									<td class="sub">13</td>
									<td class="sub">14</td>
									<td class="pnt">26</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/660/arsenal.bdscore"><b>Arsenal</b></a></td>
									<td class="sub">13</td>
									<td class="sub">12</td>
									<td class="pnt">26</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">5</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/675/tottenham.bdscore"><b>Tottenham</b></a></td>
									<td class="sub">13</td>
									<td class="sub">13</td>
									<td class="pnt">24</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">6</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/684/west-ham.bdscore"><b>West Ham</b></a></td>
									<td class="sub">13</td>
									<td class="sub">4</td>
									<td class="pnt">21</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">7</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/674/everton.bdscore"><b>Everton</b></a></td>
									<td class="sub">13</td>
									<td class="sub">8</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">8</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/670/southampton.bdscore"><b>Southampton</b></a></td>
									<td class="sub">13</td>
									<td class="sub">5</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">9</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/663/liverpool.bdscore"><b>Liverpool</b></a></td>
									<td class="sub">13</td>
									<td class="sub">2</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">10</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/679/crystal-palace.bdscore"><b>Crystal Palace</b></a></td>
									<td class="sub">13</td>
									<td class="sub">1</td>
									<td class="pnt">19</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">11</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/690/stoke-city.bdscore"><b>Stoke City</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-1</td>
									<td class="pnt">19</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">12</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/678/west-bromwich.bdscore"><b>West Bromwich</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-5</td>
									<td class="pnt">17</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">13</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/696/watford.bdscore"><b>Watford</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-2</td>
									<td class="pnt">16</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">14</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/738/swansea-city.bdscore"><b>Swansea City</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-4</td>
									<td class="pnt">14</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">15</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/661/chelsea.bdscore"><b>Chelsea</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-6</td>
									<td class="pnt">14</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">16</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/677/norwich-city.bdscore"><b>Norwich City</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-8</td>
									<td class="pnt">12</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">17</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/664/newcastle.bdscore"><b>Newcastle</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-12</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">18</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/683/sunderland.bdscore"><b>Sunderland</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-12</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">19</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/711/bournemouth.bdscore"><b>Bournemouth</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-13</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">20</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/665/aston-villa.bdscore"><b>Aston Villa</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-14</td>
									<td class="pnt">5</td>
								</tr>
							</tbody>
							<tbody class="mhidden">
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2017/barcelona.bdscore"><b>Barcelona</b></a></td>
									<td class="sub">12</td>
									<td class="sub">17</td>
									<td class="pnt">30</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2020/atletico-madrid.bdscore"><b>Atlético Madrid</b></a></td>
									<td class="sub">12</td>
									<td class="sub">11</td>
									<td class="pnt">26</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2016/real-madrid.bdscore"><b>Real Madrid</b></a></td>
									<td class="sub">12</td>
									<td class="sub">15</td>
									<td class="pnt">24</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2023/villarreal.bdscore"><b>Villarreal</b></a></td>
									<td class="sub">12</td>
									<td class="sub">4</td>
									<td class="pnt">21</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">5</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2033/celta-vigo.bdscore"><b>Celta Vigo</b></a></td>
									<td class="sub">12</td>
									<td class="sub">2</td>
									<td class="pnt">21</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">6</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2042/eibar.bdscore"><b>Eibar</b></a></td>
									<td class="sub">12</td>
									<td class="sub">5</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">7</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2015/valencia.bdscore"><b>Valencia</b></a></td>
									<td class="sub">12</td>
									<td class="sub">8</td>
									<td class="pnt">19</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">8</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2018/deportivo.bdscore"><b>Deportivo</b></a></td>
									<td class="sub">12</td>
									<td class="sub">5</td>
									<td class="pnt">18</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">9</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2019/bilbao.bdscore"><b>Bilbao</b></a></td>
									<td class="sub">12</td>
									<td class="sub">2</td>
									<td class="pnt">17</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">10</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2032/espanyol.bdscore"><b>Espanyol</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-9</td>
									<td class="pnt">16</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">11</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2021/sevilla.bdscore"><b>Sevilla</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-1</td>
									<td class="pnt">15</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">12</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2025/real-betis.bdscore"><b>Real Betis</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-6</td>
									<td class="pnt">15</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">13</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2054/rayo-vallecano.bdscore"><b>Rayo Vallecano</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-6</td>
									<td class="pnt">14</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">14</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2028/sociedad.bdscore"><b>Sociedad</b></a></td>
									<td class="sub">12</td>
									<td class="sub">0</td>
									<td class="pnt">12</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">15</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2038/sporting-gijon.bdscore"><b>Sporting Gijón</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-7</td>
									<td class="pnt">12</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">16</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2039/getafe.bdscore"><b>Getafe</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-7</td>
									<td class="pnt">11</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">17</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/7072/granada.bdscore"><b>Granada</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-7</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">18</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2055/las-palmas.bdscore"><b>Las Palmas</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-7</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">19</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2036/levante.bdscore"><b>Levante</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-13</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">20</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2024/malaga.bdscore"><b>Málaga</b></a></td>
									<td class="sub">12</td>
									<td class="sub">-6</td>
									<td class="pnt">9</td>
								</tr>
							</tbody>
							<tbody class="mhidden">
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/961/bayern-munich.bdscore"><b>Bayern Munich</b></a></td>
									<td class="sub">13</td>
									<td class="sub">35</td>
									<td class="pnt">37</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/964/dortmund.bdscore"><b>Dortmund</b></a></td>
									<td class="sub">13</td>
									<td class="sub">18</td>
									<td class="pnt">29</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/968/wolfsburg.bdscore"><b>Wolfsburg</b></a></td>
									<td class="sub">13</td>
									<td class="sub">8</td>
									<td class="pnt">24</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/974/hertha.bdscore"><b>Hertha</b></a></td>
									<td class="sub">13</td>
									<td class="sub">3</td>
									<td class="pnt">23</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">5</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/971/m-gladbach.bdscore"><b>M'gladbach</b></a></td>
									<td class="sub">13</td>
									<td class="sub">6</td>
									<td class="pnt">22</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">6</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/963/leverkusen.bdscore"><b>Leverkusen</b></a></td>
									<td class="sub">13</td>
									<td class="sub">0</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">7</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/966/schalke-04.bdscore"><b>Schalke 04</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-2</td>
									<td class="pnt">20</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">8</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/5476/ingolstadt.bdscore"><b>Ingolstadt</b></a></td>
									<td class="sub">13</td>
									<td class="sub">0</td>
									<td class="pnt">19</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">9</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/980/cologne.bdscore"><b>Cologne</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-3</td>
									<td class="pnt">19</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">10</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/967/hamburg.bdscore"><b>Hamburg</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-3</td>
									<td class="pnt">18</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">11</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/977/mainz.bdscore"><b>Mainz</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-1</td>
									<td class="pnt">17</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">12</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/979/frankfurt.bdscore"><b>Frankfurt</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-3</td>
									<td class="pnt">14</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">13</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2549/darmstadt.bdscore"><b>Darmstadt</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-5</td>
									<td class="pnt">14</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">14</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/960/werder-bremen.bdscore"><b>Werder Bremen</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-12</td>
									<td class="pnt">13</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">15</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/972/hannover.bdscore"><b>Hannover</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-11</td>
									<td class="pnt">11</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">16</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/962/stuttgart.bdscore"><b>Stuttgart</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-14</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">17</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1000/augsburg.bdscore"><b>Augsburg</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-8</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">18</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1001/hoffenheim.bdscore"><b>Hoffenheim</b></a></td>
									<td class="sub">13</td>
									<td class="sub">-8</td>
									<td class="pnt">8</td>
								</tr>
							</tbody>
							<tbody class="mhidden">
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group A</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2016/real-madrid.bdscore"><b>Real Madrid</b></a></td>
									<td class="sub">5</td>
									<td class="sub">8</td>
									<td class="pnt">13</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/886/psg.bdscore"><b>PSG</b></a></td>
									<td class="sub">5</td>
									<td class="sub">9</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2254/shakhtar-donetsk.bdscore"><b>Shakhtar Donetsk</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-5</td>
									<td class="pnt">3</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2146/malmö-ff.bdscore"><b>Malmö FF</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-12</td>
									<td class="pnt">3</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group B</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/968/wolfsburg.bdscore"><b>Wolfsburg</b></a></td>
									<td class="sub">5</td>
									<td class="sub">2</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/662/man-united.bdscore"><b>Man United</b></a></td>
									<td class="sub">5</td>
									<td class="sub">1</td>
									<td class="pnt">8</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1517/psv.bdscore"><b>PSV</b></a></td>
									<td class="sub">5</td>
									<td class="sub">0</td>
									<td class="pnt">7</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1842/cska-moskva.bdscore"><b>CSKA Moskva</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-3</td>
									<td class="pnt">4</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group C</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2020/atletico-madrid.bdscore"><b>Atlético Madrid</b></a></td>
									<td class="sub">5</td>
									<td class="sub">7</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1679/benfica.bdscore"><b>Benfica</b></a></td>
									<td class="sub">5</td>
									<td class="sub">3</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2217/galatasaray.bdscore"><b>Galatasaray</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-4</td>
									<td class="pnt">4</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/13104/astana.bdscore"><b>Astana</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-6</td>
									<td class="pnt">3</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group D</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1242/juventus.bdscore"><b>Juventus</b></a></td>
									<td class="sub">5</td>
									<td class="sub">4</td>
									<td class="pnt">11</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/676/man-city.bdscore"><b>Man City</b></a></td>
									<td class="sub">5</td>
									<td class="sub">2</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/971/m-gladbach.bdscore"><b>M'gladbach</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-2</td>
									<td class="pnt">5</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2021/sevilla.bdscore"><b>Sevilla</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-4</td>
									<td class="pnt">3</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group E</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2017/barcelona.bdscore"><b>Barcelona</b></a></td>
									<td class="sub">5</td>
									<td class="sub">11</td>
									<td class="pnt">13</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/963/leverkusen.bdscore"><b>Leverkusen</b></a></td>
									<td class="sub">5</td>
									<td class="sub">1</td>
									<td class="pnt">5</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1241/roma.bdscore"><b>Roma</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-5</td>
									<td class="pnt">5</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/200/bate.bdscore"><b>BATE</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-7</td>
									<td class="pnt">4</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group F</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/961/bayern-munich.bdscore"><b>Bayern Munich</b></a></td>
									<td class="sub">5</td>
									<td class="sub">14</td>
									<td class="pnt">12</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1040/olympiakos-piraeus.bdscore"><b>Olympiakos Piraeus</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-4</td>
									<td class="pnt">9</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/660/arsenal.bdscore"><b>Arsenal</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-1</td>
									<td class="pnt">6</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/479/dinamo-zagreb.bdscore"><b>Dinamo Zagreb</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-9</td>
									<td class="pnt">3</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group G</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/661/chelsea.bdscore"><b>Chelsea</b></a></td>
									<td class="sub">5</td>
									<td class="sub">8</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1678/porto.bdscore"><b>Porto</b></a></td>
									<td class="sub">5</td>
									<td class="sub">3</td>
									<td class="pnt">10</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2253/dynamo-kyiv.bdscore"><b>Dynamo Kyiv</b></a></td>
									<td class="sub">5</td>
									<td class="sub">3</td>
									<td class="pnt">8</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1204/maccabi-tel-aviv.bdscore"><b>Maccabi Tel Aviv</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-14</td>
									<td class="pnt">0</td>
								</tr>
								<tr class="grp">
									<td colspan="12">&nbsp; ■ &nbsp; Group H</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">1</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/1841/zenit.bdscore"><b>Zenit</b></a></td>
									<td class="sub">5</td>
									<td class="sub">8</td>
									<td class="pnt">15</td>
								</tr>
								<tr>
									<td><span style = "color:#669900" class="glyphicon glyphicon-chevron-up"></span></td>
									<td class="idx">2</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/214/gent.bdscore"><b>Gent</b></a></td>
									<td class="sub">5</td>
									<td class="sub">0</td>
									<td class="pnt">7</td>
								</tr>
								<tr>
									<td><span style = "color:#EE1122" class="glyphicon glyphicon-chevron-down"></span></td>
									<td class="idx">3</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/2015/valencia.bdscore"><b>Valencia</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-2</td>
									<td class="pnt">6</td>
								</tr>
								<tr>
									<td class="st"></td>
									<td class="idx">4</td>
									<td class="team"><a href="http://livescore.bongdaplus.vn/doi-bong/884/lyon.bdscore"><b>Lyon</b></a></td>
									<td class="sub">5</td>
									<td class="sub">-6</td>
									<td class="pnt">1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="kqtd" class="tab-pane fade">
					<div style="height:350px; overflow:auto;">
						<table class="table table-hover" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th class="col-md-1" style="border-bottom: solid 1px #ccc;"></th>
									<th class="col-md-4" style="border-bottom: solid 1px #ccc;">Chủ</th>
									<th class="col-md-3" style="border-bottom: solid 1px #ccc;">Tỷ số</th>
									<th class="col-md-4" style="border-bottom: solid 1px #ccc;">Khách</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/2017/barcelona.bdscore" title="Barcelona">Barcelona</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146826/barcelona-vs-roma.bdscore">6 - 1</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/1241/roma.bdscore" title="Roma">Roma</a></td>
								</tr>
								<tr class="alt">
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/660/arsenal.bdscore" title="Arsenal">Arsenal</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146837/arsenal-vs-dinamo-zagreb.bdscore">3 - 0</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/479/dinamo-zagreb.bdscore" title="Dinamo Zagreb">Dinamo Zagreb</a></td>
								</tr>
								<tr>
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/961/bayern-munich.bdscore" title="Bayern Munich">Bayern Munich</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146838/bayern-munich-vs-olympiakos-piraeus.bdscore">4 - 0</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/1040/olympiakos-piraeus.bdscore" title="Olympiakos Piraeus">Olympiakos...</a></td>
								</tr>
								<tr class="alt">
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/1678/porto.bdscore" title="Porto">Porto</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146849/porto-vs-dynamo-kyiv.bdscore">0 - 2</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/2253/dynamo-kyiv.bdscore" title="Dynamo Kyiv">Dynamo Kyiv</a></td>
								</tr>
								<tr>
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/1204/maccabi-tel-aviv.bdscore" title="Maccabi Tel Aviv">Maccabi Tel...</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146850/maccabi-tel-aviv-vs-chelsea.bdscore">0 - 4</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/661/chelsea.bdscore" title="Chelsea">Chelsea</a></td>
								</tr>
								<tr class="alt">
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/884/lyon.bdscore" title="Lyon">Lyon</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2146877/lyon-vs-gent.bdscore">1 - 2</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/214/gent.bdscore" title="Gent">Gent</a></td>
								</tr>
								<tr>
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/943/bourg-peronnas.bdscore" title="Bourg-Péronnas">Bourg-Péronnas</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2045671/bourg-peronnas-vs-paris.bdscore">4 - 1</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/2568/paris.bdscore" title="Paris">Paris</a></td>
								</tr>
								<tr class="alt">
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/887/sochaux.bdscore" title="Sochaux">Sochaux</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2045673/sochaux-vs-laval.bdscore">0 - 0</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/920/laval.bdscore" title="Laval">Laval</a></td>
								</tr>
								<tr>
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/892/lens.bdscore" title="Lens">Lens</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2045675/lens-vs-niort.bdscore">1 - 1</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/909/niort.bdscore" title="Niort">Niort</a></td>
								</tr>
								<tr class="alt">
									<td class="ext">FT</td>
									<td class="hme"><a href="http://livescore.bongdaplus.vn/doi-bong/2378/red-star.bdscore" title="Red Star">Red Star</a></td>
									<td class="scor"><a href="http://livescore.bongdaplus.vn/tran-dau/2045676/red-star-vs-ajaccio.bdscore">1 - 1</a></td>
									<td class="awy"><a href="http://livescore.bongdaplus.vn/doi-bong/900/ajaccio.bdscore" title="Ajaccio">Ajaccio</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-border"></div>
			</div>
		</div>
	</div>
	<footer class="footer_style">
		<center>
			<p> Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
				tiện Viet media <br>
				Liên hệ: 09009090909909 </p>
		</center>
	</footer>
</div>
<script type="text/javascript">
		/**
		 * datatable
		 */
		$(document)
				.ready(
						function() {
							$('#transfers')
									.DataTable(
											{
												"order" : [ [ 0, "desc" ] ],
												"language" : {
													"lengthMenu" : "Hiển thị _MENU_ cầu thủ",
													"zeroRecords" : "Chưa có dữ liệu",
													"search" : "Tìm kiếm:",
													"info" : "Hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_ cầu thủ",
													"infoEmpty" : "Chưa có dữ liệu",
													"infoFiltered" : "(Lọc từ _MAX_ cầu thủ)",
													"paginate" : {
														"first" : "Trang đầu",
														"last" : "Trang cuối",
														"next" : "Trang sau",
														"previous" : "Trang trước"
													},
													"aria" : {
														"sortAscending" : ": Chọn để sắp xếp tăng dần",
														"sortDescending" : ": Chọn để sắp xếp giảm dần"
													}
												},
													"aLengthMenu": [[15, 30, 50, -1], [15, 30, 50, "Tất cả"]],
        "iDisplayLength": 15
											});
						});
	</script>
</body>
</html>