
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chuyên mục video</title>


	<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
	<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="html5lightbox/jquery.js"></script>
	<script type="text/javascript" src="html5lightbox/html5lightbox.js"></script>
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/home_items.css" rel="stylesheet">
	<link href="css/video.css" rel="stylesheet">
	<style>
		/* Note: Try to remove the following lines to see the effect of CSS positioning */
		.affix {
			position: fixed;
			top: 0;
			width: 85%;
			z-index:300000000000;
		}
		@media (max-width: 768px) {
			.affix {
				width: 93%;
				z-index:300000000000;
			}
			#video_overlays {
				color: white;
				position:absolute;
				float:left;
				margin-top: 9.5%;
				width:27.8%;
				height:6.7%;
				background-color:rgba(0,0,0,0.5);
				padding:2px 10px 2px 10px;
				z-index:3000000;
			}
		}
		.affix+.container {
			padding-top: 82px;
		}
	</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" src="img/logo.png">
		<div class="menu_border">



			<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
				<div class="navbar-header menu_mini">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button"></span> <span
					class="icon-bar menu_button"></span> <span
					class="icon-bar menu_button"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#">Trang chủ</a></li>



					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="li_large"><div class="alert alert-success">
								<strong>Success!</strong> Indicates a successful or positive
								action.
							</div></li>
							<li><a href="#">La Liga BBVA</a></li>
							<li><a href="#">Premier League</a></li>
							<li><a href="#">Bundesliga</a></li>
							<li><a href="#">Seri A</a></li>
							<li><a href="#">Ligue 1</a></li>
							<li><a href="#">Cúp C1 Châu Âu</a></li>
							<li><a href="#">Ngoại Hạng Anh</a></li>
							<li><a href="#">Champion League</a></li>
							<li><a href="#">Europa League</a></li>
							<li><a href="#">La Liga</a></li>

						</ul></li>



						<li><a href="#">Lịch đấu - Kết quả</a></li>
						<li><a href="#">Bảng xếp hạng</a></li>
						<li><a href="#">Chuyển nhượng</a></li>
						<li><a href="#">Trực tiếp</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Troll</a></li>
					</ul>
				</div>

			</nav>
		</div>

		<div>

			<div class="item_title" >
				<h3>Video highlight</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-4">

							<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</th>
						<th class="col-md-4">

								<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</th>
						<th class="col-md-4">

								<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>

								<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Barca - Real!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</td>
						<td>

								<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Barca - Real!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</td>
						<td>

								<div>
								<video width="100%">
									<source
									src="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>

								<a id="change-color" href="Video Barca vs Sociedad_ Xem clip bàn thắng kết quả 4-0.mp4" class="html5lightbox" data-width="800" data-height="550" title="Barca - Real!!!">Neymar tiếp tục thăng hoa, Barca đè bẹp Real Sociedad.</a>
							</div>
						</td>
					</tr>


				</tbody>
			</table>


			<div class="item_title" >
				<h3>Video skill and goal</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-4">

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</th>
						<th class="col-md-4">

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</th>
						<th class="col-md-4">

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="500" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
						<td>

							<div>
								<video width="100%">
									<source
									src="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4"
									type="video/mp4">
									Your browser does not support this streaming content.
								</video>
								<a id="change-color" href="BONGDA+ Nhung pha bong dang cap nhat cua Mesut Oezil.mp4" class="html5lightbox" data-width="800" data-height="550" title="Ozil quẩy nào!!!">Ozil quẩy</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>

		</footer>
	</div>

</body>
</html>