<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Biển - B&B</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<link href="css/beach-other.css" rel="stylesheet">
<link rel="stylesheet" href="css/nghiduong.css">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		z-index: 40000000000000;
	}
	.box__fix {
		width: 100%;
		margin-right: 20px;
		float: none;
	}
	p#title {
		width: 100%;
	}
	.menu__padding {
		padding-left: 5px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>
<body>

	<img alt="HIHIHIH" width="100%" height="150px" src="img/lg.jpg">
	<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="150">
		<div class="navbar-header menu_mini">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar menu_button" style="background-color: black;"></span>
				<span class="icon-bar menu_button" style="background-color: black;"></span>
				<span class="icon-bar menu_button" style="background-color: black;"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse menu" id="myNavbar">
			<ul class="nav navbar-nav menu__padding">
				<li class=""><a href="Home.html">Trang chủ</a></li>
				<li><a href="NoiBat.html">Nổi Bật</a></li>

				<li class="dropdown"><a class="dropdown-toggle menu_active"
					data-toggle="dropdown" href="#">Biển <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="beach.html">Biển Nha Trang</a></li>
						<li><a href="beach.html">Biển Đà Nẵng</a></li>
						<li><a href="beach.html">Biển Vũng Tàu</a></li>
						<li><a href="beach-other.html">Khác</a></li>
					</ul></li>

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Vịnh <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="vinh-ha-long.html">Vịnh Hạ Long</a></li>
						<li><a href="vinh-ha-long.html">Vịnh Cam Ranh</a></li>
						<li><a href="vinh-ha-long.html">Vịnh Nha Trang</a></li>
						<li><a href="vinh.html">Khác</a></li>
					</ul></li>

				<li><a href="LeHoi.html">Sự Kiện - Lễ Hội</a></li>
				<li><a href="DacSan.html">Đặc Sản</a></li>
				<li><a href="NghiDuong.html">Nghỉ Dưỡng</a></li>
				<li><a href="DuLich.html">Du Lịch</a></li>
			</ul>
		</div>

	</nav>
	<div class="container">
	<!-- start body -->
	<div class="row"> 		
		<div class="col-md-9 item__inline">
			<table class="table">
 <tbody> <tr class="title"><td width="15%">
<p class="">
						Bãi biển 
    </p></td><td>
  <div class="input-group pull-right" style="width: 50%; margin: 0 auto;">
				<div class="dropdown center">
					<button aria-expanded="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%">Tất cả tỉnh thành <span class="caret"></span></button>

					<ul style="min-width:auto; width:100%;" class="dropdown-menu scrollable-menu" role="menu">
						<li class="dropdown-header">Miền Bắc</li>
						<li class="divider"></li>
						<li> <a href="#/"> Quảng Bình </a></li>
						<li> <a href="#/"> Ninh Bình</a></li>
						<li> <a href="#/"> Quảng Trị</a></li>
						<li> <a href="#/"> Hải Phòng</a></li>
						<li> <a href="#/"> Quảng Ninh</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Miền Trung</li>
						<li class="divider"></li>
						<li> <a href="#/"> Huế</a></li>
						<li> <a href="#/"> Đà Nẵng</a></li>
						<li> <a href="#/"> Quảng Ngãi</a></li>
						<li> <a href="#/"> Quảng Nam</a></li>
						<li> <a href="#/"> Bình Định</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Miền Nam</li>
						<li class="divider"></li>
						<li> <a href="#/"> Vũng Tàu</a></li>
						<li> <a href="#/"> Ninh Thuận</a></li>
						<li> <a href="#/"> Bình Thuận</a></li>
						<li> <a href="#/"> Tiền Giang</a></li>
						<li> <a href="#/"> TP. Hồ Chí Minh</a></li>
						<li> <a href="#/"> Kiên Giang</a></li>
						<li> <a href="#/"> Cà Mau</a></li>
					</ul>
				</div>
  </div></td></tr></tbody>
</table>
					<div class="item_content">
						<table border="0" style="width: 100%">
							<tbody><tr>
								<td width="50%">
									<div class="table_hot_item">
										<img src="img/h2.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Mũi né</a>
											</h4>
											<p></p>
										</div>
									</div>

								</td>
								<td width="50%">
									<div class="table_hot_item">
										<img src="img/h1.jpeg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Đà Nẵng</a>
											</h4>
											<p></p>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="table_hot_item">
										<img src="img/h3.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Mũi né</a>
											</h4>
											<p></p>
										</div>
									</div>

								</td>
								<td>
									<div class="table_hot_item">
										<img src="img/h4.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Đà Nẵng</a>
											</h4>
											<p></p>
										</div>
									</div>
								</td>
							</tr><tr>
								<td width="50%">
									<div class="table_hot_item">
										<img src="img/h2.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Mũi né</a>
											</h4>
											<p></p>
										</div>
									</div>

								</td>
								<td width="50%">
									<div class="table_hot_item">
										<img src="img/h1.jpeg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Đà Nẵng</a>
											</h4>
											<p></p>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="table_hot_item">
										<img src="img/h3.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Mũi né</a>
											</h4>
											<p></p>
										</div>
									</div>

								</td>
								<td>
									<div class="table_hot_item">
										<img src="img/h4.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Đà Nẵng</a>
											</h4>
											<p></p>
										</div>
									</div>
								</td>
							</tr><tr>
								<td>
									<div class="table_hot_item">
										<img src="img/h3.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Mũi né</a>
											</h4>
											<p></p>
										</div>
									</div>

								</td>
								<td>
									<div class="table_hot_item">
										<img src="img/h4.jpg" class="img_hot" alt="hihi">
										<div class="table_hot_item_title">
											<p>
											</p><h4>
												<a href="beach.html#/">Thư giãn cuối tuần với biển Đà Nẵng</a>
											</h4>
											<p></p>
										</div>
									</div>
								</td>
							</tr>
						</tbody></table>
					</div>
					<center>
					 <ul class="pagination">
					 <li ><a href="#">Trang trước</a></li>
  <li class="active"><a href="#">1</a></li>
  <li ><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li ><a href="#">Trang sau</a></li>
</ul></center>
				</div>

		<div class="col-md-3">
		<a href = "#"><p class="title">
						Nghỉ Dưỡng
					</p></a>
		<div class="">
						<a href="HotelAndResort.html#/">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/6.jpeg">
									<label class="text-overlay">Quảng Ngãi</label>
									<div>Khách sạn Sông Trà</div>
								</div>
							</div>
						</a>

					</div>
					<div class="">
						<a href="HotelAndResort.html#/">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/4.jpeg">
									<label class="text-overlay">Hà Tiên</label>
									<div>Mũi Nai</div>
								</div>
							</div>
						</a>
					</div>
					<div class="">
						<a href="HotelAndResort.html#/">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/5.jpeg">
									<label class="text-overlay">Đà Nẵng</label>
									<div>Bán đảo Sơn Trà</div>
								</div>
							</div>
						</a>
					</div>
					<a href = "#"><p class="title">
						Du lịch
					</p></a>
		<div class="">
						<a href="http://www.hotdeal.vn/ho-chi-minh/du-lich/tour-le-tet-tour-kham-pha-phu-yen-3n3d-buffet-gala-nghe-thuat-bai-choi-danh-cho-01-nguoi-205018.html">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/6.jpeg">
									<label class="text-overlay">Sài Gòn Tourist</label>
									<div>Tour du lịch Vũng Tàu - HCM</div>
								</div>
							</div>
						</a>

					</div>
					<div class="">
						<a href="http://www.hotdeal.vn/ho-chi-minh/du-lich/tour-le-tet-tour-kham-pha-phu-yen-3n3d-buffet-gala-nghe-thuat-bai-choi-danh-cho-01-nguoi-205018.html">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/4.jpeg">
									<label class="text-overlay">C.U Tourist</label>
									<div>Tour du lịch Huế 2 ngày 1 đêm</div>
								</div>
							</div>
						</a>
					</div>
					<div class="">
						<a href="http://www.hotdeal.vn/ho-chi-minh/du-lich/tour-le-tet-tour-kham-pha-phu-yen-3n3d-buffet-gala-nghe-thuat-bai-choi-danh-cho-01-nguoi-205018.html">
							<div class="panel panel-default ">
								<div class="panel-body position__item">
									<img alt="" class="img-responsive padding__bottom" src="img/5.jpeg">
									<label class="text-overlay">Viet Travel</label>
									<div>Tour du lịch Quảng Ngãi 1 ngày 1 đêm</div>
								</div>
							</div>
						</a>
					</div>
		</div>		
	</div>
	<!-- end body -->
	<footer class="footer_style">
		<center>
			<p> Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
				tiện Viet media <br>
				Liên hệ: 09009090909909 </p>
		</center>
	</footer>
</div></div>
</body>
</html>