<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cầu Ngư Đà Nẵng-B&B</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 93%;
		z-index: 40000000000000;
	}
}

.affix+.container {
	padding-top: 165px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
	max-height: 300px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" width="100%" height="150px" src="img/lg.jpg">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="150">
			<div class="navbar-header menu_mini">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="menu_active"><a href="Home.html">Trang chủ</a></li>
					<li><a href="NoiBat.html">Nổi Bật</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Biển <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Biển Nha Trang</a></li>
							<li><a href="#">Biển Đà Nẵng</a></li>
							<li><a href="#">Biển Vũng Tàu</a></li>
							<li><a href="Bien.html">Khác</a></li>
						</ul></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Vịnh <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Vịnh Hạ Long</a></li>
							<li><a href="#">Vịnh Cam Ranh</a></li>
							<li><a href="#">Vịnh Nha Trang</a></li>
							<li><a href="Vinh.html">Khác</a></li>
						</ul></li>

					<li><a href="LeHoi.html">Sự Kiện - Lễ Hội</a></li>
					<li><a href="DacSan.html">Đặc Sản</a></li>
					<li><a href="NghiDuong.html">Nghỉ Dưỡng</a></li>
					<li><a href="DuLich.html">Du Lịch</a></li>
				</ul>
			</div>
		</nav>
		<div class="row" style="text-align: justify;">
			<div class="col-sm-8">
				<h3 style="font-weight:bold;color:blue">Đà Nẵng</h3>
				<hr>
				<h4>Đà Nẵng: Lễ Hội Cầu Ngư</h4>
				<p>Lễ hội Cá Ông (còn được gọi là lễ tế Cá Voi) là lễ hội lớn
					nhất của ngư dân thành phố Đà Nẵng. Thờ Cá Ông ở đây không chỉ được
					xem là sự tôn kính thần linh mà còn gắn liền với sự hưng thịnh của
					cả làng. 'Ông' là tiếng gọi tôn kính của ngư dân dành riêng cho cá
					voi, loài cá thường giúp họ vượt qua tai nạn khi lênh đênh trên
					biển cả. Hàng năm, thường là sau khi ăn Tết xong, như dân tổ chức
					lễ tế cá Ông lồng ghép dưới hình thức Lễ hội Cầu ngư và lễ ra quân
					đánh bắt vụ cá nam. Tại Đà Nẵng, Lễ hội Cầu ngư được tổ chức ở
					những vùng ven biển như Mân Thái, Thọ Quang, Thanh Lộc Đán, Xuân
					Hà, Hòa Hiệp...</p>
				<br>
				<p>Lễ hội được diễn ra trong hai ngày vào trung tuần tháng 3 âm
					lịch. Ngày đầu thiết lễ tiên thường, ngày sau là lễ tế chính thức.
					Trong ngày lễ, bàn thờ được trang hoàng hết sức rực rỡ, trang
					nghiêm. Các nhà đều đặt bàn hương án bày đồ lễ cúng. Trên mỗi tàu
					thuyền đều chăng đèn kết hoa. Làng chọn ra một ban nghi lễ gồm các
					cụ cao niên, hiền đức, có uy tín với bạn chài và không bị mắc tang
					chế. Vị chánh bái dâng đồ tế lễ (không được dùng hải sản) và đọc
					văn tế nói lên lòng biết ơn của dân làng đối với công đức Cá Ông và
					cầu mong mùa đánh bắt bội thu, thuyền bè đi khơi về lộng an toàn.</p>
				<div class="text-center">
					<img alt=""
						src="http://lehoi.cinet.vn/UserFiles/Image/va/caungu_dn1.jpg">
				</div>
				<p>Rạng sáng ngày hôm sau, dân làng đánh trống làm lễ rước trên
					biển. Có nơi còn tổ chức lễ rước Ông từ làng này qua làng khác để
					bày tỏ sự đoàn kết giữa các vạn chài. Tất cả tàu thuyền ra khơi đến
					một vị trí đã định trước và vị chánh tế tổ chức “xin keo”. Đó là lễ
					Cá Ông chứng dám lòng thành của ngư dân ngoài biển. Vào nửa đêm hôm
					đó, dân làng làm lễ chánh tế bao gồm lễ khai mõ, đội học trò dâng
					hương. Về phần hội, tuỳ điều kiện, mỗi địa phương có một hình thức
					tổ chức riêng, nhưng cũng đều là các trò chơi dân gian vùng biển:
					lắc thúng, đua thuyền, bơi lội, kéo co, đá bóng... Về văn nghệ,
					ngoài hát tuồng, hát hò khoan, còn có một hình thức múa hát đặc
					trưng của Lễ hội Cầu ngư là múa hát bả trạo (bả: nắm, trạo: chèo
					đò) diễn tả tinh thần đoàn kết giữa các thành viên trong một con
					thuyền, vượt qua sóng to gió cả, mang về một mùa bội thu cho ngư
					dân. Lễ hội Cầu ngư bày tỏ khát vọng được bình yên trong cuộc sống
					của ngư dân, những con người luôn phải đối mặt với nhiều bất trắc
					khi lênh đênh trên biển cả.</p>
				<p class="text-center">
					<a >Xem Video</a>
					<iframe width="100%" height="480"src="https://www.youtube.com/embed/cg8hU12PrMw" frameborder="0" allowfullscreen></iframe>
				</p>
				<hr>
				<p class="text-right">Theo Danang.gov.vn</p>
				<div>
					<h4>Bài viết gợi ý</h4>
					<hr>
					<div class="row">
						<div class="col-sm-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<img class="img-responsive"
										src="http://lehoi.cinet.vn/UserData/Image/Articles/128201194131.jpg">
								</div>
								<div class="panel-footer">
									<a href="#">Đà Nẵng: Lễ hội đua thuyền</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<img class="img-responsive"
										src="http://lehoi.cinet.vn/UserData/Image/Articles/282010154451.jpg">
								</div>
								<div class="panel-footer">
									<a href="#">Đà Nẵng: Lễ hội đình làng An Hải</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<img class="img-responsive"
										src="http://lehoi.cinet.vn/UserData/Image/Articles/207201010056.jpg">
								</div>
								<div class="panel-footer">
									<a href="#">Đà nẵng: Lễ hội làng Tuý Loan</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<h3 color="red" class="text-center text-uppercase" style="font-weight:bold;color:blue">Video</h3>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/hGl-pGu1YRA" frameborder="0"
						allowfullscreen></iframe>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/4fc8GJ0Vm1s" frameborder="0"
						allowfullscreen></iframe>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/Vz6fblJmIqA" frameborder="0"
						allowfullscreen></iframe>
				</div>
				<div class="text-right">
					<a href="#">Xem Thêm</a>					
					<hr>
				</div>				
			</div>

		</div>



		<!-- end body -->

	</div>
	<footer class="footer_style">
		<center>
			<p>
				Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương tiện
				Viet media <br> Liên hệ: 09009090909909
			</p>
		</center>

	</footer>
	</div>
</body>
</html>
</nav>
