<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<link href="css/DacSan.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 93%;
		z-index: 40000000000000;
	}
}

.affix+.container {
	padding-top: 165px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
	max-height: 300px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" width="100%" height="150px" src="img/lg.jpg">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="150">
			<div class="navbar-header menu_mini">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="menu_active"><a href="Home.html">Trang chủ</a></li>
					<li><a href="NoiBat.html">Nổi Bật</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Biển <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Biển Nha Trang</a></li>
							<li><a href="#">Biển Đà Nẵng</a></li>
							<li><a href="#">Biển Vũng Tàu</a></li>
							<li><a href="Bien.html">Khác</a></li>
						</ul></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Vịnh <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Vịnh Hạ Long</a></li>
							<li><a href="#">Vịnh Cam Ranh</a></li>
							<li><a href="#">Vịnh Nha Trang</a></li>
							<li><a href="Vinh.html">Khác</a></li>
						</ul></li>

					<li><a href="LeHoi.html">Sự Kiện - Lễ Hội</a></li>
					<li><a href="DacSan.html">Đặc Sản</a></li>
					<li><a href="NghiDuong.html">Nghỉ Dưỡng</a></li>
					<li><a href="DuLich.html">Du Lịch</a></li>
				</ul>
			</div>

		</nav>
		<div class="row container-fluid">
			<div class="row">
				<div class="col-md-9">
					<h3 color="red">Nai Khô Đà Nẵng</h3>
					<img width="100%" class="img-responsive" alt="img Nai Khô Đà nẵng"
						src="http://sohatravel.vn/image/data/tin-tuc/am-thuc/Dac-san-Da-Nang-1.jpg">
					<p>Đà Nẵng là thành phố du lịch nổi tiếng với nhiều loại đặc
						sản quý. Và một loại đặc sản hảo hạng thơm ngon làm quà mà bất cứ
						du khách nào cũng không thể khước từ trên đường về đó là món nai
						khô – đặc sản trứ danh của vùng đất này. Một lần nếm thử vị thơm,
						cay đậm đà của từng miếng nai khô hấp dẫn bạn sẽ càng thích mê và
						muốn trở lại thăm Đà Nẵng nhiều lần sau đó. Thịt nai Đà Nẵng đóng
						gói nên khi ăn vị thịt nai khô có độ dai và đằm. Thêm chút gia vị
						đậm chất miền Trung khi ăn vào sẽ cảm thấy mềm mại và đậm đà hương
						vị... SOHA TRAVEL đang thèm lắm rồi. Các bạn nào đi Tour du lịch
						Đà Nẵng nhanh tay đăng ký liền nhé để rinh vài bịch nai khô đúng
						vị miền Trung về nhâm nhi ngay thôi!</p>
				</div>
				<div class="col-md-3">
					<h3>Bài Viết Gợi Ý</h3>
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="img-responsive" alt="img Banhtrangthitheo"
								src="http://img.v3.news.zdn.vn/w660/Uploaded/rotntt/2014_02_06/DSC_6589.jpg">
						</div>
						<div class="panel-footer">
							<a href="#">Bánh Tráng Thịt Heo</a>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<img alt="img ThitBoKho" class="img-responsive"
								src="http://img.v3.news.zdn.vn/w660/Uploaded/rotntt/2014_02_06/thit_bo_kho.jpg">
						</div>
						<div class="panel-footer">
							<a href="#">Thịt Bò Khô</a>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<img alt="img MiQuang" class="img-responsive"
								src="http://img.v3.news.zdn.vn/w660/Uploaded/rotntt/2014_02_06/my_quang_2.jpg">
						</div>
						<div class="panel-footer">
							<a href="#">Mì Quảng</a>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<img alt="img CaoLau" class="img-responsive"
								src="http://img.v3.news.zdn.vn/w660/Uploaded/rotntt/2014_02_06/cao_lau_1.jpg">
						</div>
						<div class="panel-footer">
							<a href="#">Cao Lầu</a>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<img alt="img Banhtrangthitheo" class="img-responsive"
								src="http://img.v3.news.zdn.vn/w660/Uploaded/rotntt/2014_02_06/DSC_6589.jpg">
						</div>
						<div class="panel-footer">
							<a href="#">Bánh Tráng Thịt Heo</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<hr>
			<!-- end body -->

		</div>
		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>

		</footer>
	</div>
</body>
</html>