<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>


<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/menu.css" rel="stylesheet">
<link href="css/home_items.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 85%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 93%;
		z-index: 40000000000000;
	}
}

.affix+.container {
	padding-top: 165px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
	max-height: 300px;
}
</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" width="100%" height="150px" src="img/lg.jpg">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="150">
			<div class="navbar-header menu_mini">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="menu_active"><a href="Home.html">Trang chủ</a></li>
					<li><a href="NoiBat.html">Nổi Bật</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Biển <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Biển Nha Trang</a></li>
							<li><a href="#">Biển Đà Nẵng</a></li>
							<li><a href="#">Biển Vũng Tàu</a></li>
							<li><a href="Bien.html">Khác</a></li>
						</ul></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Vịnh <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Vịnh Hạ Long</a></li>
							<li><a href="#">Vịnh Cam Ranh</a></li>
							<li><a href="#">Vịnh Nha Trang</a></li>
							<li><a href="Vinh.html">Khác</a></li>
						</ul></li>

					<li><a href="LeHoi.html">Sự Kiện - Lễ Hội</a></li>
					<li><a href="DacSan.html">Đặc Sản</a></li>
					<li><a href="NghiDuong.html">Nghỉ Dưỡng</a></li>
					<li><a href="DuLich.html">Du Lịch</a></li>
				</ul>
			</div>
		</nav>
		<div class="row container-fluid">
			<div class="col-md-8 ">
				<div class="row" >
					<h5 class="text-center">Thông tin- Lễ Hội</h5>
					<hr>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" alt="lễ hội"
							src="http://lehoi.cinet.vn/UserFiles/Image/va/caungu_dn1.jpg">
					</div>
					<div class="col-md-8">
						<a href="CauNgu-DaNang.html" class="text-capitalize"><h4>Đà Nẵng: Lễ hội
								cầu ngư</h4></a>
						<p>Lễ hội Cá Ông (còn được gọi là lễ tế Cá Voi) là lễ hội lớn
							nhất của ngư dân thành phố Đà Nẵng. Thờ Cá Ông ở đây không chỉ
							được xem là sự tôn kính thần linh mà còn gắn liền với sự hưng
							thịnh của cả làng</p>
						<p>Lễ hội được diễn ra trong hai ngày vào trung tuần tháng 3
							âm lịch. Ngày đầu thiết lễ tiên thường, ngày sau là lễ tế chính
							thức.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" alt="lễ hội"
							src="http://lehoi.cinet.vn/UserData/Image/Articles/211201115310.jpg">

					</div>
					<div class="col-md-8">
						<a href="CauNgu-DaNang.html" class="text-capitalize"><h4>Quảng Nam: Lễ giỗ
								tổ nghề yến</h4></a>
						<p>Lễ hội Cá Ông (còn được gọi là lễ tế Cá Voi) là lễ hội lớn
							nhất của ngư dân thành phố Đà Nẵng. Thờ Cá Ông ở đây không chỉ
							được xem là sự tôn kính thần linh mà còn gắn liền với sự hưng
							thịnh của cả làng</p>
						<p>Lễ hội được diễn ra trong hai ngày vào trung tuần tháng 3
							âm lịch. Ngày đầu thiết lễ tiên thường, ngày sau là lễ tế chính
							thức.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" alt="lễ hội"
							src="http://lehoi.cinet.vn/UserData/Image/Articles/982010165058.jpg">

					</div>
					<div class="col-md-8">
						<a href="CauNgu-DaNang.html" class="text-capitalize"><h4>Thừa Thiên Huế:
								Lễ hội đua ghe truyền thống</h4></a>
						<p>Hội đua ghe truyền thống tỉnh Thừa Thiên Huế là một ngày lễ
							hội mới được tổ chức sau ngày giải phóng hoàn toàn miền Nam 1975.
						</p>
						<p>Hội được tổ chức trong một ngày, nhằm ngày lễ Quốc Khánh
							02-9 (dương lịch). Địa điểm đua là bờ Sông Hương trước trường
							Quốc Học.</p>
					</div>
				</div>

				<div class="row frame">
					<div class="col-md-4">
						<img class="img-responsive" alt="lễ hội"
							src="http://lehoi.cinet.vn/UserData/Image/Articles/1982010154422.jpg">

					</div>
					<div class="col-md-8">
						<a href="CauNgu-DaNang.html" class="text-capitalize"><h4>Bà Rịa Vũng Tàu:
								Lễ hội Nghinh Ông đình Thắng Tam</h4></a>
						<p>Hàng năm, trên địa bàn tỉnh Bà Rịa Vũng Tàu, bà con cư dân
							ở các làng cá đều tổ chức Lễ hội Nghinh Ông nhưng tiêu biểu nhất
							là Lễ hội Lăng Ông - đình Thắng Tam.</p>
						<p>Lễ hội Nghinh Ông đình Thắng Tam được tổ chức trong các
							ngày 16, 17, 18 tháng 8 âm lịch hàng năm.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" alt="lễ hội"
							src="http://lehoi.cinet.vn/UserData/Image/Articles/211201115310.jpg">

					</div>
					<div class="col-md-8">
						<a href="CauNgu-DaNang.html" class="text-capitalize"><h4>Quảng Ngãi: Hội
								Dồi Bòng</h4></a>
						<p>Hội Dồi Bòng được tổ chức vào ngày 7 tháng Giêng hàng năm,
							tại xã An Hải, huyện Lý Sơn. Đây là một trò diễn dân gian tiêu
							biểu trong Lễ hội đình làng An Hải.</p>
					</div>
				</div>

			</div>
			<div class="col-md-4 ">
				<div class="row">
					<h5 class="text-center">Video</h5>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/hGl-pGu1YRA" frameborder="0"
						allowfullscreen></iframe>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/4fc8GJ0Vm1s" frameborder="0"
						allowfullscreen></iframe>
					<hr>
				</div>
				<div>
					<iframe width="100%" height="30%"
						src="https://www.youtube.com/embed/Vz6fblJmIqA" frameborder="0"
						allowfullscreen></iframe>
					<hr>
				</div>
				<div class="text-right">
					<a href="#" >Xem Thêm</a>
				</div>
			</div>
		</div>

			<!-- end body -->

		</div>
		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>

		</footer>
	</div>
</body>
</html>
		</nav>