
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nghỉ dưỡng</title>


	<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
	<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/home_items.css" rel="stylesheet">
	<link href="css/nghiduong.css" rel="stylesheet">
	<style>
		/* Note: Try to remove the following lines to see the effect of CSS positioning */
		.affix {
			top: 0;
			width: 85%;
			z-index: 40000000000000;
		}

		@media ( max-width : 768px) {
			.affix {
				width: 93%;
				z-index: 40000000000000;
			}
		}

		.affix+.container {
			padding-top: 82px;
		}
	</style>
</head>
<body>

	<div class="container">
		<img alt="HIHIHIH" src="img/lg.jpg"width="100%" height="150px">
		<div class="menu_border">



			<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
				<div class="navbar-header menu_mini">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button"
					style="background-color: black;"></span> <span
					class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button"
					style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="Home.html">Trang chủ</a></li>
					<li><a href="Hot.html">Nổi Bật</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Biển <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Biển Nha Trang</a></li>
							<li><a href="#">Biển Đà Nẵng</a></li>
							<li><a href="#">Biển Vũng Tàu</a></li>
							<li><a href="Bien.html">Khác</a></li>
						</ul></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Vịnh <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Vịnh Hạ Long</a></li>
								<li><a href="#">Vịnh Cam Ranh</a></li>
								<li><a href="#">Vịnh Nha Trang</a></li>
								<li><a href="Vinh.html">Khác</a></li>
							</ul></li>

							<li><a href="LeHoi.html">Sự Kiện - Lễ Hội</a></li>
							<li><a href="DacSan.html">Đặc Sản</a></li>
							<li><a href="NghiDuong.html">Nghỉ Dưỡng</a></li>
							<li><a href="DuLich.html">Du Lịch</a></li>
						</ul>
					</div>

				</nav>
			</div>
			<!-- start body -->
			<div class="row">
				<div class="col-md-9">
					<p id="title">
						Resort và khách sạn
					</p>
					<table class="table">
						<thead>
							<tr>
								<th class="col-md-4">
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/itemimages/22/13/2213960_v2_mc.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Phan thiết] Villas Del Sol</div>
												<div>
													Khách sạn
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</th>
								<th class="col-md-4">
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/partnerimages/13/05/130555674_x.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Phan thiết] Bạch Dương</div>
												<div>
													Khách sạn
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</th>
								<th class="col-md-4">
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/partnerimages/64/16/64169638_x.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Phan thiết] The Beach</div>
												<div>
													Resort
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/partnerimages/71/73/71738408_x.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Đà Nẵng] The Ocean Villas</div>
												<div>
													Khách sạn
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</td>
								<td>
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/partnerimages/71/68/71688548_x.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Đà Nẵng] Hyatt Regency Danang</div>
												<div>
													Resort
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</td>
								<td>
									<a href="#">
										<div class="panel panel-default">
											<div class="panel-body">
												<img src="http://imgpe.trivago.com/partnerimages/11/22/112212724_x.jpeg"  class="img-responsive padding__bottom" alt="" >
												<div>[Đà nẵng] Northern Danang</div>
												<div>
													Khách sạn
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
													<img src="img/star.svg" alt="">
												</div>
											</div>
										</div>
									</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading clickable">
							<h3 class="panel-title "><b>Điểm đến</b></h3>
							<span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
						</div>
						<div class="panel-body" style="padding-left:30px">
							<div class="checkbox">
								<label >
									<input type="checkbox" > <b>Miền Bắc</b>
								</label>
								<span class="badge float__right">10</span>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox"> <b>Miền Trung</b>
								</label>
								<span class="badge float__right">10</span>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> <b>Miền Nam</b>
								</label>
								<span class="badge float__right">10</span>
							</div>
						</div>
					</div>
					<div class="panel panel-default" >
						<div class="panel-heading clickable">
							<h3 class="panel-title "><b>Khu vực</b></h3>
							<span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
						</div>
						<div class="panel-body" style="padding-left:30px; max-height: 200px;
						overflow-y:scroll; " >
						<div class="checkbox">
							<label >
								<input type="checkbox"> <b>Đà nẵng</b>
							</label>
							<span class="badge float__right">20</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Nha Trang</b>
							</label>
							<span class="badge float__right">20</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Phú Yên</b>
							</label>
							<span class="badge float__right">20</span>
						</div>
						<div class="checkbox">
							<label >
								<input type="checkbox"> <b>Hạ Long</b>
							</label>
							<span class="badge float__right">20</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Vũng Tàu</b>
							</label>
							<span class="badge float__right">30</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Cần Giờ</b>
							</label>
							<span class="badge float__right">30</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Phan Thiết</b>
							</label>
							<span class="badge float__right">30</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Mũi Né</b>
							</label>
							<span class="badge float__right">30</span>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> <b>Hà Tiên</b>
							</label>
							<span class="badge float__right">30</span>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading clickable">
						<h3 class="panel-title "><b>Tiêu chuẩn</b></h3>
						<span class="pull-right "><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class="panel-body" style="padding-left:30px">
						<div class="checkbox">
							<label >
								<input type="checkbox" >
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">

							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
							</label>

						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
							</label>

						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<img class="scale" src="img/star.svg" alt="">
								<img class="scale" src="img/star.svg" alt="">
							</label>

						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox">
								<img class="scale" src="img/star.svg" alt="">
							</label>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end body -->
		<footer class="footer_style">
			<center>
				<p>
					Bản quyền thuộc về công ty TNHH giải trí truyền thông đa phương
					tiện Viet media <br> Liên hệ: 09009090909909
				</p>
			</center>

		</footer>
	</div>

	<script type="text/javascript">
		jQuery(function ($) {
			$('.panel-heading').on("click", function (e) {
				if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
		});
	</script>
</body>
</html>

