@CHARSET "ISO-8859-1";
#ChampionsLeague{
	
	color: red;	
	background-image:url(img/championsleague.png)no-repeat right center; 
	 appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 90px;
  text-indent: 0.01px;
  text-overflow: "";
}
.List-GiaiDau:HOVER{
	color: hotpink;
}
.List-GiaiDau:LINK {
	color: red;
}
.style-next{
	color: red;
}

.col-sm-boder{
	border-left: thick solid #fff;
	border-right: thick solid #fff;
}