.menu {
	background: rgb(52,51,153);
	font-weight: bold;	
}


.navbar
{
	border: none;
}

.menu_mini {
	background: rgb(227, 227, 227);
	font-weight: bold;
	width: 100%;
}

body
{
	background: #F7F3FF;
}

.web_name
{
	margin-right: 60px;
}

.menu_border {

}
.menu__padding
{
	padding-left:7%;
}
.menu a {
	color: white;
}

.menu a:HOVER {
	color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1B0E7E;
}


.home_content
{
	margin-top: 15px;
}

.menu_button
{
	background-color: black;
}


.footer_style {
	margin-top: 10px;
	height: 100px;
	width: 100%;
	background-color: rgb(240, 240, 241);
	padding: 20px;
}


.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #1B0E7E;
    border-color: #337AB7;
}


.menu_active {
	background-color: #1B0E7E;
}