@charset "utf-8";
/* CSS Document */

.search{
	 background-color: #00b9f2;
    margin-top: 20px;
    padding: 40px;
}
.scrollable-menu{
 height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.title{
	font-size: 25px;
	color: #0047AB;
	font-weight: bold;

	border-bottom-style: double;
	border-color: blue;
	width: 95%;
}