.d_item_title {
	padding-top: 1px;
	padding-left: 5px;
	color: black;
	font-weight: bold;
}

.d_item_title h3 {
	font-weight: bold;
	font-family: "Arial", Times, serif;
}

.d_item_content {
	margin-top: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.d_item_container {
	margin-top: 15px;
}

.author {
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}

.d_table_content
{
	
}
.d_table_content td
{
	padding: 3px;
}
.d_comment
{
	margin-top: 60px;		
}

.b_comment
{
	float: right;
	margin-right: 20px;
}

.l_comment
{
	margin-top: 80px;	
}

.l_comment td
{
	padding: 10px;
}

.l_comment table:HOVER
{
	background-color: rgb(240, 240, 241);
}