.menu {	
	background: rgb(227, 227, 227);
	font-weight: bold;
	border-style: solid;
	border-color: green;
	border-left-color: white;
	border-right-color: white;
	border-top: 10px;
}

.menu_mini {
	background: rgb(227, 227, 227);
	font-weight: bold;
	width: 100%;	
}

.web_name
{
	margin-right: 60px;
}

.menu_border {
	
}

.menu a {
	color: black;
}

.menu a:HOVER {
	color: red;
	background-color: white;
}

.menu li:HOVER {
	background: white;
	background-color: white;
}

.home_content
{
	margin-top: 15px;
}

.menu_button
{
	background-color: black;
}

.li_large
{
	width: 300px;
	height: auto;
}