.menu {
	background: rgb(227, 227, 227);
	font-weight: bold;
	border-style: solid;
	border-color: green;
	border-left-color: white;
	border-right-color: white;
}

.menu_border {
	
}

.menu a {
	color: black;
}

.menu a:HOVER {
	color: red;
	background-color: white;
}

.menu li:HOVER {
	background: white;
	background-color: white;
}