@charset "utf-8";
/* CSS Document */

.short-content {
	margin-left: 10px;
}
.article-footer {
	position: absolute;
	bottom: 35px;
	right: 15px;
}
.time-start-match {
	color: #FF590E;
}
.tournament {
	color: #FFFFFF;
	background-color: #333333;
}
.footer-line {
	height: 5px;
	clear: both;
	display: block;
	float: none;
	width: 100%;
	color: red;
}
.tab-border {
	font-weight: bold;
	border-width: thick;
	border-style: solid;
	border-left-color: white;
	border-right-color: white;
	border-color: white;
	border-bottom-color: green;
	margin-top:10px;
	margin-bottom:15px;
}
.vertical-line {
    border-left: thin solid #f3f3f3;
}
.mshow{
	display:table-row-group;
}
.mhidden{
	display:none;
}