<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Novak Djokovic - Tennis</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/home.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="navbar-fixed-top.css" rel="stylesheet">
<script src="js/home.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<link href="css/home.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>

<body>
<img alt="TENNIS" class = "img-responsive" src="img/logo.jpg">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand" href = "Home.html">Tennis</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav " >
					<li><a href="Home.html">Home</a></li>
					<li><a href="Scores.html">Scores</a></li>
					<li><a href="Schedule.html">Schedule</a></li>		
					<li class="active"><a href="Ranking.html">Player & Rankings</a></li>
					<li><a href="Multimedia.html">Multimedia</a></li>
				</ul>
			</div>

		</nav>
	</div>
<div class="container">
	<div class="title" style="margin-bottom:10px">
		<h3> Player Profile </h3>
	</div>
	<table class="table">
		<tbody>
			<tr>
				<td width="30%"><div class = "relative"> <a href="#"><img width="100%" alt="image not found" src="img/6.jpg"/></a>
						<div class="badge text-overlay">1</div>
					</div></td>
				<td width="70%"><h4> <b>Novak Djokovic (SRB)</b></h4>
					<p><b> Birthdate: </b> May 22, 1987 </p>
					<p><b> Birthplace: </b> Belgrade, Serbia </p>
					<p><b> Residence: </b> Monte Carlo, Monaco </p>
					<p><b> Nickname(s): </b> Nole </p>
					<p><b> Height: </b> 6'2'' (188 cm) </p>
					<p><b> Weight: </b> 176 lb (80 kg) </p>
					<p><b> Plays: </b> Right-handed </p>
					<p><b> Turned Pro: </b> 2003 (13 years on tour) </p>
					<p><b> Achievements: </b> </p>
					<li><b>All: </b>56 titles, 23 runners-up </li>
					<li><b>Grand Slam: </b>10 titles, 8 runners-up </li>
					<li><b>Masters Cup/ATP World Tour Finals: </b>5 titles</li>
					<li><b>ATP Masters Series / ATP World Tour Masters 1000: </b>26 titles, 12 runners-up </li></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF;">
				<th> Year </th>
				<th> Tournaments </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> 2008 </td>
				<td> US Open, Austrailian Open, ATP World Tour Final </td>
			</tr>
			<tr>
				<td> 2009 </td>
				<td> US Open, Austrailian Open, ATP World Tour Final </td>
			</tr>
			<tr>
				<td> 2010 </td>
				<td> US Open, Austrailian Open, ATP World Tour Final </td>
			</tr>
			<tr>
				<td> 2011 </td>
				<td> US Open, Austrailian Open, ATP World Tour Final </td>
			</tr>
			<tr>
				<td> 2012 </td>
				<td> US Open, Austrailian Open, ATP World Tour Final </td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-striped">
	<thead>
		<tr bgcolor="#027E26" style="color:#FFF;">
			<th colspan="3">
				<h4> Top Ranked ATP Player Profiles </h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1" >
			<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/6.jpg"/></a>
				<div class="badge text-overlay">1</div>
				</div>
			</td>
			<td colspan="1">
				<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/7.jpg"/></a>
				<div class="badge text-overlay">2</div>
				</div>
			</td>
			<td colspan="1">
				<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/8.jpg"/></a>
				<div class="badge text-overlay">3</div>
				</div>
			</td>
		</tr>
	</tbody>
	<thead>
		<tr bgcolor="#027E26" style="color:#FFF;">
			<th colspan="3">
				<h4> Top Ranked WTA Player Profiles </h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1">
				<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/9.jpg"/></a>
				<div class="badge text-overlay">1</div>
				</div>
			</td>
			<td colspan="1">
				<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/10.jpg"/></a>
				<div class="badge text-overlay">2</div>
				</div>
			</td>
			<td colspan="1">
				<div class = "relative">
				<a href="#"><img width="100%" alt="image not found" src="img/11.jpg"/></a>
				<div class="badge text-overlay">3</div>
				</div>
			</td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>
