<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Schedule Info - Tennis</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/home.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="navbar-fixed-top.css" rel="stylesheet">
<script src="js/home.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<link href="css/home.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>

<body>
<img alt="TENNIS" class = "img-responsive" src="img/logo.jpg">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand" href = "Home.html">Tennis</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav " >
					<li><a href="Home.html">Home</a></li>
					<li><a href="Scores.html">Scores</a></li>
					<li class="active"><a href="Schedule.html">Schedule</a></li>		
					<li><a href="Ranking.html">Player & Rankings</a></li>
					<li><a href="Multimedia.html">Multimedia</a></li>
				</ul>
			</div>

		</nav>
	</div>
<div class="container">
	<div class="title" style="margin-bottom:10px">
		<h3> schedule </h3>
	</div>
	<div class="info">
		<h4> ATP Brasil Open </h4>
		<p> <b> City: </b> Rio de Janeiro, Brazil </p>
		<p> <b> Stadium: </b> Jockey Club Brasileiro </p>
				<p> <b> Prize Money: </b> $1,309,770 </p>
						<p><b> Defending Champion: </b> Rafael Nadal </p>
								<p> <b> Time: </b> Feb. 17, 2015 - Feb. 23, 2015 </p>
										<p><b> Round: </b> 5 Rounds </p>
												<p><b> Matches: </b> 32 Total Matches </p>
														<p><b> Surface: </b> Clay Surface </p>
	</div>
</div>
</body>
</html>
