<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Scores - Tennis</title>
<link href="../../Resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../../Resources/lib/jquery-2.1.4.min.js"></script>
<script src="../../Resources/bootstrap/js/bootstrap.js"></script>
<link href="css/home.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="navbar-fixed-top.css" rel="stylesheet">
<script src="js/home.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<link href="css/home.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<style>
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
	top: 0;
	width: 100%;
	z-index: 40000000000000;
}

@media ( max-width : 768px) {
	.affix {
		width: 100%;
		z-index: 40000000000000;
	}
	.affix+.container {
		padding-top: 82px;
	}
}

.affix+.container {
	padding-top: 82px;
}
</style>
</head>

<body>
<img alt="TENNIS" class = "img-responsive" src="img/logo.jpg">
	<div class="menu_border">
		<nav class="navbar nav-tabs" data-spy="affix" data-offset-top="82">
			<div class="navbar-header menu_mini">
				<a class="navbar-brand web_brand" href = "Home.html">Tennis</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
					<span class="icon-bar menu_button" style="background-color: black;"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse menu" id="myNavbar">
				<ul class="nav navbar-nav " >
					<li><a href="Home.html">Home</a></li>
					<li class="active"><a href="Scores.html">Scores</a></li>
					<li><a href="Schedule.html">Schedule</a></li>		
					<li><a href="Ranking.html">Player & Rankings</a></li>
					<li><a href="Multimedia.html">Multimedia</a></li>
				</ul>
			</div>

		</nav>
	</div>
<div class="container">
	<div class="title" style="margin-bottom:10px">
		<h3> live scores </h3>
	</div>
	<div class="form-group">
		<div class="form-inline has-feedback">
			<label class="control-label" for="date"> Result For</label>
			<input  type="text" id = "date" class="form-control datepicker"/>
			<span class="form-control-feedback glyphicon glyphicon-calendar" style="font-size:13pt; top:26px; left:88%;"></span>			
		
			<label class="control-label" for="tour"> Tournament</label>
				<select class="dropdown form-control" id = "tour">
					<option> All</option>
					<option> US Open</option>
					<option> Australian  Open</option>
					<option> Roland Garros</option>
					<option> Wimbledon</option>
					<option> Davis Cup</option>
					<option> ATP World Tour Masters 1000</option>
				</select>
			
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr >
				<th colspan="2"> 2015 US OPEN </th>
			</tr>
		</thead>
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF; text-transform:uppercase">
				<th> Round of 1 </th>
				<th colspan="3"> Result </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a  href="Player.html"> Donna Vekic </a></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><a href="Player.html"> Novac Jokovic </a></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF; text-transform:uppercase">
				<th> Round of 1 </th>
				<th colspan="3"> Result </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a  href="Player.html"> Donna Vekic </a></td>
				<td>2</td>
				<td>5</td>
				<td>2</td>
			</tr>
			<tr>
				<td><a href="Player.html"> Novac Jokovic </a></td>
				<td>5</td>
				<td>2</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead>
			<tr >
				<th colspan="2"> 2015 WTA TOUR </th>
			</tr>
		</thead>
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF; text-transform:uppercase">
				<th> Round of 1 </th>
				<th colspan="3"> Result </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a  href="Player.html"> Donna Vekic </a></td>
				<td>2</td>
				<td>5</td>
				<td>2</td>
			</tr>
			<tr>
				<td><a href="Player.html"> Novac Jokovic </a></td>
				<td>5</td>
				<td>2</td>
				<td>5</td>
			</tr>
		</tbody>
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF; text-transform:uppercase">
				<th> Round of 1 </th>
				<th colspan="3"> Result </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a  href="Player.html"> Donna Vekic </a></td>
				<td>2</td>
				<td>5</td>
				<td>2</td>
			</tr>
			<tr>
				<td><a href="Player.html"> Novac Jokovic </a></td>
				<td>5</td>
				<td>2</td>
				<td>5</td>
			</tr>
		</tbody>	
		<thead>
			<tr bgcolor="#027E26" style="color:#FFF; text-transform:uppercase">
				<th> Round of 1 </th>
				<th colspan="3"> Result </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a  href="Player.html"> Donna Vekic </a></td>
				<td>2</td>
				<td>5</td>
				<td>2</td>
			</tr>
			<tr>
				<td><a href="Player.html"> Novac Jokovic </a></td>
				<td>5</td>
				<td>2</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
